openapi: 3.0.2
info:
  title: AWeber Subscribers API
  version: '1.0'
  description: 'We are constantly working to improve this documentation. If you have

    feedback and questions, please contact the AWeber API team at

    api@aweber.com.


    The AWeber API is a REST API that uses the OAuth 2.0 authentication model. We also offer webhooks.


    Please see the below resources for further information:

    - <a href="https://labs.aweber.com/docs/tos" target="_blank">Terms of Service</a>

    - <a href="https://help.aweber.com/hc/en-us/articles/204031776" target="_blank">Showcasing an Integration</a>

    - <a href="https://help.aweber.com/hc/en-us/sections/360000617213-API" target="_blank">Knowledge Base</a>

    - <a href="https://status.aweber.com" target="_blank">API Status Page</a>

    '
  contact:
    name: AWeber API Team
    email: api@aweber.com
    url: https://api.aweber.com/
servers:
- url: https://api.aweber.com/1.0
  description: v1 API endpoints
tags:
- name: Subscribers
  description: '### What is it?


    Represents a collection of subscribers.


    Use this set of resources to add, remove, find, and update an AWeber Customer Account''s subscribers.

    The collection responses are ordered and paginated using `next_collection_link` and

    `prev_collection_link` properties.  See [How Collections are Represented](#collection-representation)

    for details on collection traversal and the individual endpoint descriptions for ordering constraints.

    Many of the subscriber-related endpoints support the `sort_order` query parameter to control the sorting

    *direction* in the response collection.


    Subscribers are one of the most important elements in the AWeber API so care must be taken before

    adding a subscriber to a list.  Read more about adding subscribers in AWeber Knowledge Base article

    <a href="https://help.aweber.com/entries/21729456-can-i-use-this-list" target="_blank">

    "Can I use this list?"</a>.


    Although not required, it''s strongly recommended that you provide the IP address of the Subscriber
    if

    it is known.  For web based Apps, the `ip_address` that you should use is the REMOTE_ADDRESS of their

    requests to your App server, not the server''s IP address.  The IP address is used in the Geo Location

    parameters and for send windows in the AWeber Control Panel.  **The IP address can only be specified

    when ADDING a new subscriber.**



    ### Related endpoints


    * [Subscribers](#tag/Subscribers)

    * [Get subcribers associated with a message](#tag/Messages/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{messageId}~1messages?ws.op=getSubscribers/get)

    * [Get susbcribers that opened a message](#tag/Messages/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{messageId}~1messages~1{messageEntryId}~1opens/get)


    ### Related code examples


    * [Manage a Subscriber](#tag/Manage-a-Subscriber)

    * [Find Subscribers Across Lists](#tag/Find-Subscribers-Across-Lists)

    * [Move Subscriber to Another List](#tag/Move-Subscriber-to-Another-List)

    * [Get Subscribers Who Opened or Clicked a Broadcast](#tag/Get-Subscribers-Who-Opened-or-Clicked-a-Broadcast)

    '
security:
- OAuth 2.0: []
paths:
  /accounts/{accountId}/lists/{listId}/subscribers:
    get:
      summary: Get subscribers
      description: "This endpoint is used to get a paginated collection of subscribers under the specified\
        \ account and list.  The subscribers are returned in the order that they were added to the list\
        \ starting with the oldest subscriber. The order can be changed using the `sort_order` query parameter.\n\
        Check out related examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/wsStart'
      - $ref: '#/components/parameters/wsSize'
      - $ref: '#/components/parameters/sortOrder'
      security:
      - OAuth 2.0:
        - subscriber.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers')\nresponse = requests.get(url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/subscribers\"\n) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscribers'
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type                           | Explanation                              |

                      |--------------------------------------|------------------------------------------|

                      | WebServiceError                      | `ws.start`, `ws.size`, or `sort_order`
                      values are invalid |

                      | MissingOAuthParametersError          | An OAuth parameter is missing in the request
                      |

                      | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is
                      unsupported. Only HMAC-SHA1 is supported. |

                      | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                      |

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Maximum for "ws.size" parameter is 100.
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: WebServiceError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getSubscribers
    post:
      summary: Add subscriber
      description: "This endpoint is used to add subscribers to the specified account and list. Before\
        \ adding a subscriber to a list, read <a href=\"https://help.aweber.com/entries/21729456-can-i-use-this-list\"\
        \ target=\"_blank\">Can I use this list?</a> to understand the ramifications. If you have a large\
        \ list of subscribers, please use our <a href=\"https://help.aweber.com/hc/en-us/articles/204028626-How-do-I-import-a-list-of-subscribers-\"\
        \ target=\"_blank\">list importer</a>. Attempting to use the endpoint to bulk add subscribers\
        \ is considered abuse which violates our Terms of Service.\n\nCheck out related examples:\n\n\
        \  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      security:
      - OAuth 2.0:
        - subscriber.write
      x-code-samples:
      - lang: Shell
        source: "json='{\n   \"ad_tracking\": \"ebook\",\n   \"custom_fields\": {\n     \"apple\": \"\
          fuji\",\n     \"pear\": \"bosc\"\n   },\n   \"email\": \"user@example.com\",\n   \"ip_address\"\
          : \"192.168.0.1\",\n   \"last_followup_message_number_sent\": 0,\n   \"misc_notes\": \"string\"\
          ,\n   \"name\": \"John Doe\",\n   \"strict_custom_fields\": \"true\",\n   \"tags\": [\"slow\"\
          , \"fast\", \"lightspeed\"]\n}'\ncurl -X POST \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\
          \ \\\n  -d $json \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}' \\\n  -H 'Content-Type:\
          \ application/json'\n"
      - lang: Python
        source: "body = {\n   'ad_tracking': 'ebook',\n   'custom_fields': {\n     'apple': 'fuji',\n\
          \     'pear': 'bosc'\n   },\n   'email': 'user@example.com',\n   'ip_address': '192.168.0.1',\n\
          \   'last_followup_message_number_sent': 0,\n   'misc_notes': 'string',\n   'name': 'John Doe',\n\
          \   'strict_custom_fields': True,\n   'tags': [\n     'slow',\n     'fast',\n     'lightspeed'\n\
          \   ]\n}\nheaders = {'Content-Type': 'application/json',\n           'Accept': 'application/json',\n\
          \           'User-Agent': 'AWeber-Python-code-sample/1.0',\n           'Authorization': f'Bearer\
          \ {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n       f'/lists/{list_id}/subscribers')\n\
          response = requests.post(url, headers=headers, json=body)\nprint(response.headers['Location'])\n"
      - lang: PHP
        source: "$body = [\n  'ad_tracking' => 'ebook',\n  'custom_fields' => [\n    'apple' => 'fuji',\n\
          \    'pear' => 'bosc'\n  ],\n  'email' => 'user@example.com',\n  'ip_address' => '192.168.0.1',\n\
          \  'last_followup_message_number_sent' => 0,\n  'misc_notes' => 'string',\n  'name' => 'John\
          \ Doe',\n  'strict_custom_fields' => true,\n  'tags' => [\n    'slow',\n    'fast',\n    'lightspeed'\n\
          \  ]\n];\n$headers = [\n    'Content-Type' => 'application/json',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0'\n\
          ];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers\"\
          ;\n$response = $client->post($url, ['json' => $body, 'headers' => $headers]);\necho $response->getHeader('Location')[0];\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\"\
          ;\nvar customFields = new Dictionary<string, string>\n{\n  {\"apple\", \"fuji\"},\n  {\"pear\"\
          , \"bosc\"}\n};\nvar tags = new string[3]{\"slow\", \"fast\", \"lightspeed\"};\nvar payload\
          \ = new Dictionary<string, object>\n{\n  {\"ad_tracking\", \"ebook\"},\n  {\"custom_fields\"\
          , customFields},\n  {\"email\", \"user@example.com\"},\n  {\"ip_address\", \"192.168.0.1\"},\n\
          \  {\"last_followup_message_number_sent\", \"0\"},\n  {\"misc_notes\", \"string\"},\n  {\"name\"\
          , \"John Doe\"},\n  {\"strict_custom_fields\", \"true\"},\n  {\"tags\", tags}\n};\nvar request\
          \ = new HttpRequestMessage(HttpMethod.Post, url);\nrequest.Content = JsonConvert.SerializeObject(payload);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Headers.Location);\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nconst body = JSON.stringify({\n  \"ad_tracking\": \"ebook\",\n  \"custom_fields\": {\n \
          \     \"apple\": \"fuji\",\n      \"pear\": \"bosc\"\n  },\n  \"email\": \"user@example.com\"\
          ,\n  \"ip_address\": \"192.168.0.1\",\n  \"last_followup_message_number_sent\": 0,\n  \"misc_notes\"\
          : \"string\",\n  \"name\": \"John Doe\",\n  \"strict_custom_fields\": true,\n  \"tags\": [\"\
          slow\", \"fast\", \"lightspeed\"]\n});\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers`;\n\
          fetch(url, { headers: headers, method: \"POST\", body: body })\n  .then(response => response.status)\n\
          \  .then(data => {\n    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/json',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'ad_tracking': 'ebook',\n  'custom_fields': {\n    'apple': 'fuji',\n    'pear':\
          \ 'bosc'\n  },\n  'email': 'user@example.com',\n  'ip_address': '192.168.0.1',\n  'last_followup_message_number_sent':\
          \ 0,\n  'misc_notes': 'string',\n  'name': 'John Doe',\n  'strict_custom_fields': true,\n  'tags':\
          \ [\n    'slow',\n    'fast',\n    'lightspeed'\n  ]\n}\nresponse = Faraday.post(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/subscribers\"\n) do |req|\n  req.headers = headers\n  req.body =\
          \ body.to_json\nend\nputs response.status\n"
      responses:
        '201':
          description: The subscriber was created successfully
          headers:
            Location:
              description: URI of the new subscriber
              example: https://api.aweber.com/1.0/accounts/123/lists/456/subscribers/789
              schema:
                type: string
                format: uri
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type                           | Explanation                              |

                      |--------------------------------------|------------------------------------------|

                      | WebServiceError                      | An issue with the email address entered.
                      Issue could be the that the subscriber is already subscribed, has an invalid email,
                      or has a blocked email. |

                      | MissingArgumentError                 | No email address in the request body. |

                      | BadRequestError                      | An issue with one of the fields in the
                      request body or no Content-Type header specified. |

                      | InvalidTypeError                     | A field in the request body has an invalid
                      type. |

                      | MissingOAuthParametersError          | An OAuth parameter is missing in the request.
                      |

                      | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is
                      unsupported. Only HMAC-SHA1 is supported. |

                      | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                      |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Missing required argument(s)
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: The request could not be completed due to a rate limit error, due to account being
            on hold, or because the subscriber limit has been reached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      The following error may be received:


                      | Error Type           | Explanation                              |

                      |----------------------|------------------------------------------|

                      | ForbiddenError       | Rate limit may be reached, account may be suspended, subscriber
                      limit has been reached, account may be on hold, or email address cannot be accepted
                      at this time |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#forbidden
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Rate Limit Error
                      status:
                        description: The HTTP status code
                        type: integer
                        enum:
                        - 403
                      type:
                        description: The API error type
                        type: string
                        enum:
                        - ForbiddenError
        '404':
          $ref: '#/components/responses/SubListNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncodedOrJSON'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSubscriberRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddSubscriberRequestBody'
        description: Request body to add a subscriber
        required: true
      operationId: addSubscriber
    delete:
      summary: Delete subscriber by email
      description: "This endpoint is used to delete a subscriber and related information by the subscriber's\
        \ email.\n\nIf you just want to unsubscribe the subscriber, then make a\n[PATCH request](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers~1{subscriberId}/patch)\n\
        to set the status to \"unsubscribed\" instead.  When a subscriber is *DELETED*,\nthe subscriber\
        \ is unsubscribed from the list and all related analytics activity\nis removed from the customer\
        \ account for the subscriber.  Any references to\nclicks or opens are shown as \"Deleted Subscriber\"\
        \ afterwards.\n\n\nCheck out related examples:\n\n  * Find Subscribers Across Lists (\n    <a\
        \ href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subCollectionEmail'
      security:
      - OAuth 2.0:
        - subscriber.write
      x-code-samples:
      - lang: Shell
        source: "curl -X DELETE \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\
          \ \\\n  -d 'email=example@example.com'\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers?subscriber_email=example@example.com')\nresponse = requests.delete(url,\
          \ headers=headers)\nprint(response.status_code)\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers?subscriber_email=example@example.com\"\
          ;\n$response = $client->delete($url, ['headers' => $headers]);\necho $response->getStatusCode();\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers?subscriber_email=example@example.com";

          var request = new HttpRequestMessage(HttpMethod.Delete, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.StatusCode);

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers?subscriber_email=example@example.com`;\n\
          fetch(url, { headers: headers, method: \"DELETE\" })\n  .then(response => response.status)\n\
          \  .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.delete(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/subscribers\", {\n    email: \"example@example.com\"\n  }\n) do |req|\n\
          \  req.headers = headers\nend\nputs response.status\n"
      responses:
        '200':
          description: The subscriber was deleted successfully
        '400':
          $ref: '#/components/responses/BadOAuth1LessTypes'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SubscriberNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: deleteSubscriberByEmail
    patch:
      summary: Update subscriber by email
      description: "This endpoint is used to update the information for the specified subscriber by email.\n\
        \nCheck out related examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subCollectionEmail'
      security:
      - OAuth 2.0:
        - subscriber.write
      responses:
        '209':
          description: The subscriber was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type                           | Explanation                              |

                      |--------------------------------------|------------------------------------------|

                      | BadRequestError                      | A field in the request body is invalid
                      or no Content-Type header specified. |

                      | WebServiceError                      | Email address is already subscribed |

                      | MissingOAuthParametersError          | An OAuth parameter is missing in the request
                      |

                      | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is
                      unsupported. Only HMAC-SHA1 is supported. |

                      | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                      |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Missing required argument(s)
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncodedOrJSON'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberRequestBody'
        description: Request body to update a subscriber
        required: true
      x-code-samples:
      - lang: Shell
        source: "json='{\n   \"ad_tracking\": \"ebook\",\n   \"custom_fields\": {\n     \"apple\": \"\
          fuji\",\n     \"pear\": \"bosc\"\n   },\n   \"email\": \"user@example.com\",\n   \"last_followup_message_number_sent\"\
          : 0,\n   \"misc_notes\": \"string\",\n   \"name\": \"John Doe\",\n   \"strict_custom_fields\"\
          : \"true\",\n   \"tags\": {\n     \"add\": [\"fast\", \"lightspeed\"],\n     \"remove\": [\"\
          slow\"]\n   }\n}'\ncurl -X PATCH \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers?subscriber_email={subscriberEmail}\
          \ \\\n  -d $json \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}' \\\n  -H 'Content-Type:\
          \ application/json'\n"
      - lang: Python
        source: "body = {\n   'ad_tracking': 'ebook',\n   'custom_fields': {\n     'apple': 'fuji',\n\
          \     'pear': 'bosc'\n   },\n   'email': 'user@example.com',\n   'last_followup_message_number_sent':\
          \ 0,\n   'misc_notes': 'string',\n   'name': 'John Doe',\n   'strict_custom_fields': True,\n\
          \   'tags': {\n     'add': [\n       'fast',\n       'lightspeed'\n     ],\n     'remove': [\n\
          \       'slow'\n     ]\n   }\n}\nheaders = {'Content-Type': 'application/json',\n          \
          \ 'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers')\nparams = urlencode({'email': subscriber_email})\n\
          response = requests.patch(url, headers=headers, json=body, params=params)\nprint(response.json())\n"
      - lang: PHP
        source: "$body = [\n  'ad_tracking' => 'ebook',\n  'custom_fields' => [\n    'apple' => 'fuji',\n\
          \    'pear' => 'bosc'\n  ],\n  'email' => 'user@example.com',\n  'last_followup_message_number_sent'\
          \ => 0,\n  'misc_notes' => 'string',\n  'name' => 'John Doe',\n  'strict_custom_fields' => true,\n\
          \  'tags' => [\n    'add' => [\n      'fast',\n      'lightspeed'\n    ],\n    'remove' => [\n\
          \      'slow'\n    ]\n  ]\n];\n$headers = [\n    'Content-Type' => 'application/json',\n   \
          \ 'Accept' => 'application/json',\n    'Authorization' => 'Bearer $token',\n    'User-Agent'\
          \ => 'AWeber-PHP-code-sample/1.0'\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers\"\
          ;\n$params = ['email' => $subscriberEmail];\n$patchUrl = $url . ? . http_build_query($params)\n\
          $response = $client->patch($patchUrl, ['json' => $body, 'headers' => $headers]);\n$body = json_decode($response->getbody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers?subscriber_email={subscriberEmail}\"\
          ;\nvar customFields = new Dictionary<string, string>\n{\n  {\"apple\", \"fuji\"},\n  {\"pear\"\
          , \"bosc\"}\n};\nvar tags = new string[3]{\"slow\", \"fast\", \"lightspeed\"};\nvar payload\
          \ = new Dictionary<string, object>\n{\n  {\"ad_tracking\", \"ebook\"},\n  {\"custom_fields\"\
          , customFields},\n  {\"email\", \"user@example.com\"},\n  {\"ip_address\", \"192.168.0.1\"},\n\
          \  {\"last_followup_message_number_sent\", \"0\"},\n  {\"misc_notes\", \"string\"},\n  {\"name\"\
          , \"John Doe\"},\n  {\"strict_custom_fields\", \"true\"},\n  {\"tags\", tags}\n};\nvar queryParams\
          \ = new Dictionary<string, string>\n{\n  {\"email\", subscriberEmail}\n};\nvar encodedQueryParams\
          \ = string.Join(\"&\", queryParams.Select(\n  kvp => string.Format(\"{0}={1}\", kvp.Key, Uri.EscapeDataString(kvp.Value))));\n\
          var patchUrl = string.Format(\"{0}?{1}\", url, encodedQueryParams);\nvar request = new HttpRequestMessage(HttpMethod.Patch,\
          \ patchUrl);\nrequest.Content = JsonConvert.SerializeObject(payload);\nrequest.Headers.Add(\"\
          Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"AWeber-CSharp-code-sample/1.0\"\
          );\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\");\nvar response = await Client.SendAsync(request);\n\
          Console.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nconst body = JSON.stringify({\n  \"ad_tracking\": \"ebook\",\n  \"custom_fields\": {\n \
          \   \"apple\": \"fuji\",\n    \"pear\": \"bosc\"\n  },\n  \"email\": \"email@example.com\",\n\
          \  \"last_followup_message_number_sent\": 0,\n  \"misc_notes\": \"string\",\n  \"name\": \"\
          John Doe\",\n  \"strict_custom_fields\": true,\n  \"tags\": {\n    \"add\": [\"fast\",\"lightspeed\"\
          ],\n    \"remove\": [\"slow\"]\n  }\n});\nquerystring = require(\"querystring\");\nconst params\
          \ = querystring.stringify({\n  'email': subscriberEmail\n});\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers?${params}`;\n\
          fetch(url, { headers: headers, method: \"PATCH\", body: body })\n  .then(response => response.json())\n\
          \  .then(data => {\n    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/json',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'ad_tracking': 'ebook',\n  'custom_fields': {\n    'apple': 'fuji',\n    'pear':\
          \ 'bosc'\n  },\n  'email': 'user@example.com',\n  'ip_address': '192.168.0.1',\n  'last_followup_message_number_sent':\
          \ 0,\n  'misc_notes': 'string',\n  'name': 'John Doe',\n  'strict_custom_fields': true,\n  'tags':\
          \ {\n    'add': ['fast','lightspeed'],\n    'remove': ['slow']\n}\nresponse = Faraday.patch(\n\
          \  \"https://api.aweber.com/1.0/accounts/#{account_id}/\" \\\n  \"lists/#{list_id}/subscribers\"\
          , {'email': subscriberEmail}}\n) do |req|\n  req.headers = headers\n  req.body = body.to_json\n\
          end\nputs response.body\n"
      operationId: updateSubscriberByEmail
  /accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}:
    get:
      summary: Get subscriber
      description: "This endpoint is used to retrieve the information for the specified subscriber.\n\
        Check out related examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subscriberId'
      security:
      - OAuth 2.0:
        - subscriber.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers/{subscriber_id}')\nresponse = requests.get(url, headers=headers)\n\
          print(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers/{$subscriberId}\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers/${subscriberId}`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/subscribers/#{subscriber_id}\"\n) do |req|\n  req.headers = headers\n\
          end\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Subscriber'
                - type: object
                  properties:
                    uuid:
                      description: The UUID (universally unique identifier) for the subscriber
                      type: string
                      example: 123e4567-e89b-12d3-a456-426655440000
        '400':
          $ref: '#/components/responses/BadOAuth1'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getSubscriber
    post:
      summary: Move subscriber
      description: "This endpoint is used to move a subscriber from one list to another on\nthe specified\
        \ account.  The subscriber will be unsubscribed from the original\nlist and subscribed to the\
        \ destination list without sending a verification\nmessage.  By default, the subscriber will be\
        \ set to the beginning of the\nfollowup sequence on the destination list.  You can explicitly\
        \ set the\nposition in the followup list by specifying the `last_followup_message_number_sent`\n\
        body parameter.\n\nIf either the source or destination list has custom fields defined, read our\n\
        <a href=\"https://help.aweber.com/hc/en-us/articles/360009520774\" target=\"_blank\">Knowledge\
        \ Base</a>\narticle.\n\n**Requirements**\n - the subscriber MUST have a status of \"subscribed\"\
        \n - the destination list MUST be owned by the same account as the source list\n\n\nCheck out\
        \ related examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subscriberId'
      security:
      - OAuth 2.0:
        - subscriber.write
      x-code-samples:
      - lang: Shell
        source: "curl -X POST \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\
          \ \\\n  -d ws.op=move \\\n  -d enforce_custom_field_mapping=true \\\n  -d last_followup_message_number_sent=0\
          \ \\\n  -d list_link=https://api.aweber.com/1.0/accounts/123/lists/456 \\\n  -H 'Authorization:\
          \ Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "body = {\n    'enforce_custom_field_mapping': True,\n    'last_followup_message_number_sent':\
          \ 0,\n    'list_link': 'https://api.aweber.com/1.0/accounts/123/lists/456',\n    'ws.op': 'move'\n\
          }\nheaders = {'Content-Type': 'application/x-www-form-urlencoded',\n           'Accept': 'application/json',\n\
          \           'User-Agent': 'AWeber-Python-code-sample/1.0',\n           'Authorization': f'Bearer\
          \ {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n       f'/lists/{list_id}/subscribers/{subscriber_id}')\n\
          response = requests.post(url, headers=headers, data=body)\nprint(response.headers['Location'])\n"
      - lang: PHP
        source: "$body = [\n    'enforce_custom_field_mapping' => true,\n    'last_followup_message_number_sent'\
          \ => 0,\n    'list_link' => 'https://api.aweber.com/1.0/accounts/123/lists/456',\n    'ws.op'\
          \ => 'move'\n];\n$headers = [\n    'Content-Type' => 'application/x-www-form-urlencoded',\n\
          \    'Accept' => 'application/json',\n    'Authorization' => 'Bearer $token',\n    'User-Agent'\
          \ => 'AWeber-PHP-code-sample/1.0'\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers/{$subscriberId}\"\
          ;\n$response = $client->post($url, ['form_params' => $body, 'headers' => $headers]);\necho $response->getHeader('Location')[0];\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\"\
          ;\nvar payload = new Dictionary<string, string>\n{\n  {\"enforce_custom_field_mapping\", \"\
          true\"},\n  {\"last_followup_message_number_sent\", \"0\"},\n  {\"list_link\", \"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          },\n  {\"ws.op\", \"move\"}\n};\nvar request = new HttpRequestMessage(HttpMethod.Post, url);\n\
          request.Content = new FormUrlEncodedContent(payload);\nrequest.Headers.Add(\"Accept\",\"application/json\"\
          );\nrequest.Headers.Add(\"User-Agent\",\"AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"\
          Authorization\", $\"Bearer {Token}\");\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Headers.Location);\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nconst body = JSON.stringify({\n  \"enforce_custom_field_mapping\": true,\n  \"last_followup_message_number_sent\"\
          : 0,\n  \"list_link\": \"https://api.aweber.com/1.0/accounts/123/lists/456\",\n  \"ws.op\":\
          \ \"move\"\n});\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers/${subscriberId}`;\n\
          fetch(url, { headers: headers, method: \"POST\", body: body })\n  .then(response => response.status)\n\
          \  .then(data => {\n    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/json',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'enforce_custom_field_mapping': true,\n  'last_followup_message_number_sent':\
          \ 0,\n  'list_link': 'https://api.aweber.com/1.0/accounts/123/lists/456',\n  'ws.op': 'move'\n\
          }\nresponse = Faraday.post(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\" \\\n \
          \ \"lists/#{list_id}/subscribers/#{subscriber_id}\"\n) do |req|\n  req.headers = headers\n \
          \ req.body = body.to_json\nend\nputs response.status\n"
      responses:
        '201':
          description: The subscriber was moved successfully
          headers:
            Location:
              description: URI of the moved subscriber
              example: https://api.aweber.com/1.0/accounts/123/lists/456/subscribers/789
              schema:
                type: string
                format: uri
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type                           | Explanation                              |

                      |--------------------------------------|------------------------------------------|

                      | BadRequestError                      | An issue with one of the fields in the
                      request body or no Content-Type header is specified. |

                      | MissingOAuthParametersError          | An OAuth parameter is missing in the request.
                      |

                      | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is
                      unsupported. Only HMAC-SHA1 is supported. |

                      | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                      |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Missing required argument(s)
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          description: A request method is not supported for the requested resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type      | Explanation |

                      |-----------------|-------------|

                      | WebServiceError | The move could not be completed. This could be due to the email
                      not being accepted on the new list, custom fields not matching between lists, trying
                      to move an unsubscribed subscriber, or trying to move a subscriber to a list they''re
                      already on. |

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#methodnotallowed
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Subscriber already belongs to this list.
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 405
                      type:
                        description: The API error type
                        type: string
                        example: WebServiceError
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncodedOrJSON'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MoveSubscriberRequestBody'
        description: Request body to move subscriber
        required: true
      operationId: moveSubscriber
    delete:
      summary: Delete subscriber by ID
      description: "This endpoint is used to delete a subscriber and related information by the subscriber's\
        \ ID.\n\nIf you just want to unsubscribe the subscriber, then make a\n[PATCH request](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers~1{subscriberId}/patch)\n\
        to set the status to \"unsubscribed\" instead.  When a subscriber is *DELETED*,\nthe subscriber\
        \ is unsubscribed from the list and all related analytics activity\nis removed from the customer\
        \ account for the subscriber.  Any references to\nclicks or opens are shown as \"Deleted Subscriber\"\
        \ afterwards.\n\n\nCheck out related examples:\n\n  * Find Subscribers Across Lists (\n    <a\
        \ href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subscriberId'
      security:
      - OAuth 2.0:
        - subscriber.write
      x-code-samples:
      - lang: Shell
        source: "curl -X DELETE \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers/{subscriber_id}')\nresponse = requests.delete(url, headers=headers)\n\
          print(response.status_code)\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers/{$subscriberId}\"\
          ;\n$response = $client->delete($url, ['headers' => $headers]);\necho $response->getStatusCode();\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}";

          var request = new HttpRequestMessage(HttpMethod.Delete, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.StatusCode);

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers/${subscriberId}`;\n\
          fetch(url, { headers: headers, method: \"DELETE\" })\n  .then(response => response.status)\n\
          \  .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.delete(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/subscribers/#{subscriber_id}\"\n) do |req|\n  req.headers = headers\n\
          end\nputs response.status\n"
      responses:
        '200':
          description: The subscriber was deleted successfully
        '400':
          $ref: '#/components/responses/BadOAuth1LessTypes'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/SubscriberNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: deleteSubscriberByID
    patch:
      summary: Update subscriber by ID
      description: "This endpoint is used to update the information for the specified subscriber by ID\n\
        \nCheck out related examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/subscriberId'
      security:
      - OAuth 2.0:
        - subscriber.write
      x-code-samples:
      - lang: Shell
        source: "json='{\n   \"ad_tracking\": \"ebook\",\n   \"custom_fields\": {\n     \"apple\": \"\
          fuji\",\n     \"pear\": \"bosc\"\n   },\n   \"email\": \"user@example.com\",\n   \"last_followup_message_number_sent\"\
          : 0,\n   \"misc_notes\": \"string\",\n   \"name\": \"John Doe\",\n   \"strict_custom_fields\"\
          : \"true\",\n   \"tags\": {\n     \"add\": [\"fast\", \"lightspeed\"],\n     \"remove\": [\"\
          slow\"]\n   }\n}'\ncurl -X PATCH \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\
          \ \\\n  -d $json \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}' \\\n  -H 'Content-Type:\
          \ application/json'\n"
      - lang: Python
        source: "body = {\n   'ad_tracking': 'ebook',\n   'custom_fields': {\n     'apple': 'fuji',\n\
          \     'pear': 'bosc'\n   },\n   'email': 'user@example.com',\n   'last_followup_message_number_sent':\
          \ 0,\n   'misc_notes': 'string',\n   'name': 'John Doe',\n   'strict_custom_fields': True,\n\
          \   'tags': {\n     'add': [\n       'fast',\n       'lightspeed'\n     ],\n     'remove': [\n\
          \       'slow'\n     ]\n   }\n}\nheaders = {'Content-Type': 'application/json',\n          \
          \ 'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers/{subscriber_id}')\nresponse = requests.patch(url, headers=headers,\
          \ json=body)\nprint(response.json())\n"
      - lang: PHP
        source: "$body = [\n  'ad_tracking' => 'ebook',\n  'custom_fields' => [\n    'apple' => 'fuji',\n\
          \    'pear' => 'bosc'\n  ],\n  'email' => 'user@example.com',\n  'last_followup_message_number_sent'\
          \ => 0,\n  'misc_notes' => 'string',\n  'name' => 'John Doe',\n  'strict_custom_fields' => true,\n\
          \  'tags' => [\n    'add' => [\n      'fast',\n      'lightspeed'\n    ],\n    'remove' => [\n\
          \      'slow'\n    ]\n  ]\n];\n$headers = [\n    'Content-Type' => 'application/json',\n   \
          \ 'Accept' => 'application/json',\n    'Authorization' => 'Bearer $token',\n    'User-Agent'\
          \ => 'AWeber-PHP-code-sample/1.0'\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers/{$subscriberId}\"\
          ;\n$response = $client->patch($url, ['json' => $body, 'headers' => $headers]);\n$body = json_decode($response->getbody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}\"\
          ;\nvar customFields = new Dictionary<string, string>\n{\n  {\"apple\", \"fuji\"},\n  {\"pear\"\
          , \"bosc\"}\n};\nvar tags = new string[3]{\"slow\", \"fast\", \"lightspeed\"};\nvar payload\
          \ = new Dictionary<string, object>\n{\n  {\"ad_tracking\", \"ebook\"},\n  {\"custom_fields\"\
          , customFields},\n  {\"email\", \"user@example.com\"},\n  {\"ip_address\", \"192.168.0.1\"},\n\
          \  {\"last_followup_message_number_sent\", \"0\"},\n  {\"misc_notes\", \"string\"},\n  {\"name\"\
          , \"John Doe\"},\n  {\"strict_custom_fields\", \"true\"},\n  {\"tags\", tags}\n};\nvar request\
          \ = new HttpRequestMessage(HttpMethod.Patch, url);\nrequest.Content = JsonConvert.SerializeObject(payload);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nconst body = JSON.stringify({\n  \"ad_tracking\": \"ebook\",\n  \"custom_fields\": {\n \
          \   \"apple\": \"fuji\",\n    \"pear\": \"bosc\"\n  },\n  \"email\": \"email@example.com\",\n\
          \  \"last_followup_message_number_sent\": 0,\n  \"misc_notes\": \"string\",\n  \"name\": \"\
          John Doe\",\n  \"strict_custom_fields\": true,\n  \"tags\": {\n    \"add\": [\"fast\",\"lightspeed\"\
          ],\n    \"remove\": [\"slow\"]\n  }\n});\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/subscribers/${subscriberId}`;\n\
          fetch(url, { headers: headers, method: \"PATCH\", body: body })\n  .then(response => response.json())\n\
          \  .then(data => {\n    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/json',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'ad_tracking': 'ebook',\n  'custom_fields': {\n    'apple': 'fuji',\n    'pear':\
          \ 'bosc'\n  },\n  'email': 'user@example.com',\n  'ip_address': '192.168.0.1',\n  'last_followup_message_number_sent':\
          \ 0,\n  'misc_notes': 'string',\n  'name': 'John Doe',\n  'strict_custom_fields': true,\n  'tags':\
          \ {\n    'add': ['fast','lightspeed'],\n    'remove': ['slow']\n}\nresponse = Faraday.patch(\n\
          \  \"https://api.aweber.com/1.0/accounts/#{account_id}/\" \\\n  \"lists/#{list_id}/subscribers/#{subscriber_id}\"\
          \n) do |req|\n  req.headers = headers\n  req.body = body.to_json\nend\nputs response.body\n"
      responses:
        '209':
          description: The subscriber was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type                           | Explanation                              |

                      |--------------------------------------|------------------------------------------|

                      | BadRequestError                      | A field in the request body is invalid
                      or no Content-Type header specified. |

                      | WebServiceError                      | Email address is already subscribed |

                      | MissingOAuthParametersError          | An OAuth parameter is missing in the request
                      |

                      | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is
                      unsupported. Only HMAC-SHA1 is supported. |

                      | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                      |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Missing required argument(s)
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncodedOrJSON'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberRequestBody'
        description: Request body to update a subscriber
        required: true
      operationId: updateSubscriberByID
  /accounts/{accountId}/lists/{listId}/subscribers?ws.op=find:
    get:
      summary: Find subscribers for list
      description: "This endpoint is used to find the collection of subscribers that match a search criteria\
        \ for the specified account and list.\n* All parameters match on the full value and are case sensitive.\
        \ (Partial\n  matches are NOT supported)\n\n* For Date parameters, include the date as 'YYYY-MM-DD'\
        \ or 'MM-DD-YYYY'\n  and any subscriber matching the query will be returned.\n\n* Date parameters\
        \ are entered as single days, but may search multiple days\n  depending on the parameter. For\
        \ example: `subscribed_at=2017-07-16` or\n  `subscribed_before=2018-12-25`\n\n* Values that are\
        \ empty (or empty string) are treated the same as if\n  they were omitted entirely.\n\nThe subscribers\
        \ are returned in the order that they were added to the list starting with the oldest subscriber\
        \ first.  This order can be changed using the `sort_order` query parameter.\n\nCheck out related\
        \ examples:\n\n  * Find Subscribers Across Lists (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/find-subscribers-across-lists\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/find-subscribers-across-lists\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Find%20Subscribers%20Across%20Lists.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.FindSubscribersAcrossLists\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/find_subscribers_across_lists.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/find-subscribers-across-lists.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Manage Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/manage-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/manage-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Manage%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.ManageSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/manage_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/manage-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Move Subscriber (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/move-subscriber\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/move-subscriber\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Move%20Subscriber.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.MoveSubscriber\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/move_subscriber.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/move-subscriber.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Subscribers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - name: ws.op
        in: query
        required: true
        description: The method name - expecting "find"
        schema:
          type: string
          enum:
          - find
      - $ref: '#/components/parameters/wsStart'
      - $ref: '#/components/parameters/wsSize'
      - $ref: '#/components/parameters/wsShow'
      - $ref: '#/components/parameters/sortKey'
      - $ref: '#/components/parameters/sortOrderList'
      - $ref: '#/components/parameters/findSubAdTracking'
      - $ref: '#/components/parameters/findSubAreaCode'
      - $ref: '#/components/parameters/findSubCity'
      - $ref: '#/components/parameters/findSubCountry'
      - $ref: '#/components/parameters/findSubCustomFields'
      - $ref: '#/components/parameters/findSubDmaCode'
      - $ref: '#/components/parameters/findSubEmail'
      - $ref: '#/components/parameters/findSubLastMessage'
      - $ref: '#/components/parameters/findSubLastMessageSentAt'
      - $ref: '#/components/parameters/findSubLatitude'
      - $ref: '#/components/parameters/findSubLongitude'
      - $ref: '#/components/parameters/findSubMiscNotes'
      - $ref: '#/components/parameters/findSubName'
      - $ref: '#/components/parameters/findSubPostalCode'
      - $ref: '#/components/parameters/findSubRegion'
      - $ref: '#/components/parameters/findSubStatus'
      - $ref: '#/components/parameters/findSubSubscribedBefore'
      - $ref: '#/components/parameters/findSubSubscribedAfter'
      - $ref: '#/components/parameters/findSubSubscribedAt'
      - $ref: '#/components/parameters/findSubSubscriptionMethod'
      - $ref: '#/components/parameters/findSubTags'
      - $ref: '#/components/parameters/findSubNotTag'
      - $ref: '#/components/parameters/findSubUnsubscribeMethod'
      - $ref: '#/components/parameters/findSubUnsubscribedBefore'
      - $ref: '#/components/parameters/findSubUnsubscribedAfter'
      - $ref: '#/components/parameters/findSubUnsubscribedAt'
      - $ref: '#/components/parameters/findSubVerifiedAt'
      security:
      - OAuth 2.0:
        - subscriber.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\
          \ \\\n  --data-urlencode 'ws.op=find' \\\n  --data-urlencode 'ad_tracking=ebook' \\\n  --data-urlencode\
          \ 'area_code=555' \\\n  --data-urlencode 'city=Chalfont' \\\n  --data-urlencode 'country=United\
          \ States' \\\n  --data-urlencode 'custom_fields={\"apple\": \"fuji\", \"pear\": \"bosc\"}' \\\
          \n  --data-urlencode 'dma_code=504' \\\n  --data-urlencode 'email=user@example.com' \\\n  --data-urlencode\
          \ 'last_followup_message_number_sent=0' \\\n  --data-urlencode 'last_followup_message_sent_at=2017-11-28'\
          \ \\\n  --data-urlencode 'latitude=37.751' \\\n  --data-urlencode 'longitude=-97.822' \\\n \
          \ --data-urlencode 'misc_notes=ebook' \\\n  --data-urlencode 'name=John Doe' \\\n  --data-urlencode\
          \ 'postal_code=99999-9999' \\\n  --data-urlencode 'region=PA' \\\n  --data-urlencode 'status=unconfirmed'\
          \ \\\n  --data-urlencode 'subscribed_at=2017-07-16' \\\n  --data-urlencode 'subscription_method=api'\
          \ \\\n  --data-urlencode 'tags=[\"fast\"]' \\\n  --data-urlencode 'tags_not_in=[\"slow\"]' \\\
          \n  --data-urlencode 'unsubscribe_method=api: move' \\\n  --data-urlencode 'unsubscribed_at=2017-10-13'\
          \ \\\n  --data-urlencode 'verified_at=2017-07-18' \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/subscribers')\nparams = urlencode({\n    'ws.op': 'find',\n    'ad_tracking':\
          \ 'ebook',\n    'area_code': 555,\n    'city': 'Chalfont',\n    'country': 'United States',\n\
          \    'custom_fields': json.dumps({'apple': 'fuji', 'pear': 'bosc'}),\n    'dma_code': 504,\n\
          \    'email': 'user@example.com',\n    'last_followup_message_number_sent': 0,\n    'last_followup_message_sent_at':\
          \ '2017-11-28',\n    'latitude': 37.751,\n    'longitude': -97.822,\n    'misc_notes': 'ebook',\n\
          \    'name': 'John Doe',\n    'postal_code': '99999-9999',\n    'region': 'PA',\n    'status':\
          \ 'unconfirmed',\n    'subscribed_at': '2017-07-16',\n    'subscription_method': 'api',\n  \
          \  'tags': json.dumps(['fast']),\n    'tags_not_in': json.dumps(['slow']),\n    'unsubscribe_method':\
          \ 'api: move',\n    'unsubscribed_at': '2017-10-13',\n    'verified_at': '2017-07-18'\n})\n\
          find_url = '{}?{}'.format(url, params)\nresponse = requests.get(find_url, headers=headers)\n\
          print(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/subscribers\"\
          ;\n$params = [\n    'ws.op' => 'find',\n    'ad_tracking' => 'ebook',\n    'area_code' => 555,\n\
          \    'city' => 'Chalfont',\n    'country' => 'United States',\n    'custom_fields' => json_encode(['apple'\
          \ => 'fuji', 'pear' => 'bosc']),\n    'dma_code' => 504,\n    'email' => 'user@example.com',\n\
          \    'last_followup_message_number_sent' => 0,\n    'last_followup_message_sent_at' => '2017-11-28',\n\
          \    'latitude' => 37.751,\n    'longitude' => -97.822,\n    'misc_notes' => 'ebook',\n    'name'\
          \ => 'John Doe',\n    'postal_code' => '99999-9999',\n    'region' => 'PA',\n    'status' =>\
          \ 'unconfirmed',\n    'subscribed_at' => '2017-07-16',\n    'subscription_method' => 'api',\n\
          \    'tags' => json_encode(['fast']),\n    'tags_not_in' => json_encode(['slow']),\n    'unsubscribe_method'\
          \ => 'api: move',\n    'unsubscribed_at' => '2017-10-13',\n    'verified_at' => '2017-07-18'\n\
          ];\n$findUrl = $url . '?' . http_build_query($params);\n$response = $client->get($findUrl, ['headers'\
          \ => $headers]);\n$body = json_decode($response->getBody(), true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/subscribers\"\
          ;\nvar queryParams = new Dictionary<string, string>\n{\n  {\"ws.op\", \"find\"},\n  {\"ad_tracking\"\
          , \"ebook\"},\n  {\"area_code\", \"555\"},\n  {\"city\", \"Chalfont\"},\n  {\"country\", \"\
          United States\"},\n  {\"custom_fields\", \"{\\\"apple\\\": \\\"fuji\\\", \\\"pear\\\": \\\"\
          bosc\\\"}\"},\n  {\"dma_code\", \"504\"},\n  {\"email\", \"user@example.com\"},\n  {\"last_followup_message_number_sent\"\
          , \"0\"},\n  {\"last_followup_message_sent_at\", \"2017-11-28\"},\n  {\"latitude\", \"37.751\"\
          },\n  {\"longitude\", \"-97.822\"},\n  {\"misc_notes\", \"ebook\"},\n  {\"name\", \"John Doe\"\
          },\n  {\"postal_code\", \"99999-9999\"},\n  {\"region\", \"PA\"},\n  {\"status\", \"unconfirmed\"\
          },\n  {\"subscribed_at\", \"2017-07-16\"},\n  {\"tags\", \"['fast']\"},\n  {\"tags_not_in\"\
          , \"['slow']\"},\n  {\"unsubscribe_method\", \"api: move\"},\n  {\"unsubscribed_at\", \"2017-10-13\"\
          },\n  {\"verified_at\", \"2017-07-18\"}\n};\nvar encodedQueryParams = string.Join(\"&\", queryParams.Select(\n\
          \  kvp => string.Format(\"{0}={1}\", kvp.Key, Uri.EscapeDataString(kvp.Value))));\nvar getUrl\
          \ = string.Format(\"{0}?{1}\", url, encodedQueryParams);\nvar request = new HttpRequestMessage(HttpMethod.Get,\
          \ getUrl);\nrequest.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\"\
          ,\"AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
[...]
