openapi: 3.0.2
info:
  title: AWeber Broadcasts API
  version: '1.0'
  description: 'We are constantly working to improve this documentation. If you have

    feedback and questions, please contact the AWeber API team at

    api@aweber.com.


    The AWeber API is a REST API that uses the OAuth 2.0 authentication model. We also offer webhooks.


    Please see the below resources for further information:

    - <a href="https://labs.aweber.com/docs/tos" target="_blank">Terms of Service</a>

    - <a href="https://help.aweber.com/hc/en-us/articles/204031776" target="_blank">Showcasing an Integration</a>

    - <a href="https://help.aweber.com/hc/en-us/sections/360000617213-API" target="_blank">Knowledge Base</a>

    - <a href="https://status.aweber.com" target="_blank">API Status Page</a>

    '
  contact:
    name: AWeber API Team
    email: api@aweber.com
    url: https://api.aweber.com/
servers:
- url: https://api.aweber.com/1.0
  description: v1 API endpoints
tags:
- name: Broadcasts
  description: '### What is it?


    Represents broadcast messages associated with a specific list.


    Use this set of resources to create, retrieve, modify, schedule, and delete broadcast

    messages on a list.


    The broadcast collection is paginated in pages of 100 items by default and sorted based

    on the message status.  Each response page includes `next_collection_link` and

    `prev_collection_link` properties to traverse the collection.  See

    [How Collections are Represented](#collection-representation) for traversal details and the

    following table for sorting.


    | Status      | Sort attribute  | Description                                                                                                |

    |-------------|-----------------|------------------------------------------------------------------------------------------------------------|

    | `draft`     | `broadcast_id`  | A Broadcast Message that has been created via the `Create Broadcast`
    endpoint and is currently unscheduled |

    | `scheduled` | `scheduled_for` | A Broadcast Message that has scheduled but not sent                                                        |

    | `sent`      | `sent_at`       | A Broadcast Message that has been sent                                                                     |


    ### Related endpoints


    * [Broadcasts](#tag/Broadcasts)

    * [Get broadcasts by state](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)

    * [Get broadcasts for a list](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns/get)

    * [Get information about links in a broadcast](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{campaignId}~1links/get)

    * [Get information about link clicks for a broadcast](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{campaignId}~1links~1{linkId}~1clicks/get)

    * [Get broadcast statistics](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1b{campaignId}~1stats/get)


    ### Related code samples


    * [Create and Schedule a Broadcast](#tag/Create-and-Schedule-a-Broadcast)

    * [Get Sent Broadcast Details](#tag/Get-Sent-Broadcast-Details)

    * [Get Broadcast Statistics](#tag/Get-Broadcast-Statistics)

    * [Get Subscribers Who Opened or Clicked a Broadcast](#tag/Get-Subscribers-Who-Opened-or-Clicked-a-Broadcast)

    '
security:
- OAuth 2.0: []
paths:
  /accounts/{accountId}/lists/{listId}/broadcasts:
    get:
      summary: Get broadcasts
      description: "This endpoint is used to get a paginated collection of broadcasts under the specified\
        \ account and list.  The sort order is dependent on the requested status.\n\n  * *draft* messages\
        \ are sorted by `broadcast_id` **and** only include API created broadcast drafts\n  * *scheduled*\
        \ messages are sorted by `scheduled_for`\n  * *sent* messages are sorted by `sent_at`\n\n\nCheck\
        \ out related examples:\n\n  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - name: status
        in: query
        required: true
        description: The status of the broadcasts to retrieve. **(Please be aware that `draft` only returns
          API created Broadcast drafts)**
        schema:
          type: string
          enum:
          - draft
          - scheduled
          - sent
      - $ref: '#/components/parameters/wsStart'
      - $ref: '#/components/parameters/wsSize'
      security:
      - OAuth 2.0:
        - email.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}\
          \ \\\n  -d status=sent \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts?status=sent')\nresponse = requests.get(url, headers=headers)\n\
          print(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts?status=sent\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts?status=sent";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts?status=sent`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \      console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts\", {\n    status: 'sent'\n  }\n) do |req|\n  req.headers\
          \ = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcasts'
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getBroadcasts
    post:
      summary: Create broadcast
      description: "This endpoint is used to create a broadcast message draft.\n**This POST request is\
        \ limited to 1 million bytes.**\n\nCheck out related examples:\n\n  * Create and Schedule Broadcast\
        \ (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      security:
      - OAuth 2.0:
        - email.write
      x-code-samples:
      - lang: Shell
        source: "curl -X POST \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts\
          \ \\\n  --data-urlencode 'body_html=<html><h1>title</h1><body>message body.</body></html>' \\\
          \n  --data-urlencode 'body_text=this is the content of my message' \\\n  --data-urlencode 'click_tracking_enabled=True'\
          \ \\\n  --data-urlencode 'exclude_lists=[\"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          ]' \\\n  --data-urlencode 'facebook_integration=https://api.aweber.com/1.0/accounts/123/integrations/1'\
          \ \\\n  --data-urlencode 'include_lists=[\"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          ]' \\\n  --data-urlencode 'is_archived=True' \\\n  --data-urlencode 'notify_on_send=True' \\\
          \n  --data-urlencode 'subject=weekly recipes' \\\n  --data-urlencode 'twitter_integration=https://api.aweber.com/1.0/accounts/123/integrations/2'\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "body = {\n    'body_html': '<html><h1>title</h1><body>message body.</body></html>',\n\
          \    'body_text': 'this is the content of my message',\n    'click_tracking_enabled': True,\n\
          \    'exclude_lists': json.dumps([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'facebook_integration': 'https://api.aweber.com/1.0/accounts/123/integrations/1',\n\
          \    'include_lists': json.dumps([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'is_archived': True,\n    'notify_on_send': True,\n    'subject': 'weekly recipes',\n\
          \    'twitter_integration': 'https://api.aweber.com/1.0/accounts/123/integrations/2',\n}\nheaders\
          \ = {'Content-Type': 'application/x-www-form-urlencoded',\n           'Accept': 'application/json',\n\
          \           'User-Agent': 'AWeber-Python-code-sample/1.0',\n           'Authorization': f'Bearer\
          \ {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n       f'/lists/{list_id}/broadcasts')\n\
          response = requests.post(url, headers=headers, data=body)\nprint(response.json())\n"
      - lang: PHP
        source: "$body = [\n    'body_html' => '<html><h1>title</h1><body>message body.</body></html>',\n\
          \    'body_text' => 'this is the content of my message',\n    'click_tracking_enabled' => true,\n\
          \    'exclude_lists' => json_encode([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'facebook_integration' => 'https://api.aweber.com/1.0/accounts/123/integrations/1',\n\
          \    'include_lists' => json_encode([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'is_archived' => true,\n    'notify_on_send' => true,\n    'subject' => 'weekly\
          \ recipes',\n    'twitter_integration' => 'https://api.aweber.com/1.0/accounts/123/integrations/2',\n\
          ];\n$headers = [\n    'Content-Type' => 'application/x-www-form-urlencoded',\n    'Accept' =>\
          \ 'application/json',\n    'Authorization' => 'Bearer $token',\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0'\n\
          ];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts\";\n\
          $response = $client->post($url, ['form_params' => $body, 'headers' => $headers]);\n$body = json_decode($response->getbody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts\"\
          ;\nvar payload = new Dictionary<string, string>\n{\n  {\"body_html\", \"<html><h1>title</h1><body>message\
          \ body.</body></html>\"},\n  {\"body_text\", \"this is the content of my message\"},\n  {\"\
          click_tracking_enabled\", \"true\"},\n  {\"exclude_lists\", \"[\\\"https://api.aweber.com/1.0/accounts/123/lists/456\\\
          \"]\"},\n  {\"facebook_integration\", \"https://api.aweber.com/1.0/accounts/123/integrations/1\"\
          },\n  {\"include_lists\", \"[\\\"https://api.aweber.com/1.0/accounts/123/lists/456\\\"]\"},\n\
          \  {\"is_archived\", \"true\"},\n  {\"notify_on_send\", \"true\"},\n  {\"subject\", \"weekly\
          \ recipes\"},\n  {\"twitter_integration\", \"https://api.aweber.com/1.0/accounts/123/integrations/2\"\
          }\n};\nvar request = new HttpRequestMessage(HttpMethod.Post, url);\nrequest.Content = new FormUrlEncodedContent(payload);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/x-www-form-urlencoded\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nquerystring = require(\"querystring\")\nconst body = querystring.stringify({\n  \"body_html\"\
          : \"<html><h1>title</h1><body>message body.</body></html>\",\n  \"body_text\": \"this is the\
          \ content of my message\",\n  \"click_tracking_enabled\": true,\n  \"exclude_lists\": JSON.stringify([\"\
          https://api.aweber.com/1.0/accounts/123/lists/456\"]),\n  \"facebook_integration\": \"https://api.aweber.com/1.0/accounts/123/integrations/1\"\
          ,\n  \"include_lists\": JSON.stringify([\"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          ]),\n  \"is_archived\": true,\n  \"notify_on_send\": true,\n  \"subject\": \"weekly recipes\"\
          ,\n  \"twitter_integration\": \"https://api.aweber.com/1.0/accounts/123/integrations/2\",\n\
          });\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts`;\n\
          fetch(url, { headers: headers, method: \"POST\", body: body })\n  .then(response => response.json())\n\
          \  .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/x-www-form-urlencoded',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'body_html': '<html><h1>title</h1><body>message body.</body></html>',\n  'body_text':\
          \ 'this is the content of my message',\n  'click_tracking_enabled': true,\n  'exclude_lists':\
          \ JSON.generate(\n    ['https://api.aweber.com/1.0/accounts/123/lists/456']\n  ),\n  'facebook_integration':\n\
          \    'https://api.aweber.com/1.0/accounts/123/integrations/1',\n  'include_lists': JSON.generate(\n\
          \    ['https://api.aweber.com/1.0/accounts/123/lists/456']\n  ),\n  'is_archived': true,\n \
          \ 'notify_on_send': true,\n  'subject': 'weekly recipes',\n  'twitter_integration':\n    'https://api.aweber.com/1.0/accounts/123/integrations/2',\n\
          }\nresponse = Faraday.post(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\" \\\n \
          \ \"lists/#{list_id}/broadcasts\",\n  URI.encode_www_form(body)\n) do |req|\n  req.headers =\
          \ headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncoded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBroadcast'
        description: Request Body
        required: true
      operationId: createBroadcast
  /accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}:
    get:
      summary: Get broadcast
      description: "This endpoint is used to retrieve a broadcast message.\n\nCheck out related examples:\n\
        \n  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      security:
      - OAuth 2.0:
        - email.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}')\nresponse = requests.get(url, headers=headers)\n\
          print(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \      console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}\",\n) do |req|\n  req.headers = headers\n\
          end\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getBroadcast
    put:
      summary: Update broadcast
      description: "This endpoint is used to replace existing details of a broadcast message in a draft\
        \ state. **(Please be aware that only broadcast drafts created by the API are available to update)**\n\
        \nCheck out related examples:\n\n  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      security:
      - OAuth 2.0:
        - email.write
      x-code-samples:
      - lang: Shell
        source: "curl -X PUT \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}\
          \ \\\n  --data-urlencode 'body_html=<html><h1>title</h1><body>message body.</body></html>' \\\
          \n  --data-urlencode 'body_text=this is the content of my message' \\\n  --data-urlencode 'click_tracking_enabled=True'\
          \ \\\n  --data-urlencode 'exclude_lists=[\"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          ]' \\\n  --data-urlencode 'facebook_integration=https://api.aweber.com/1.0/accounts/123/integrations/1'\
          \ \\\n  --data-urlencode 'include_lists=[\"https://api.aweber.com/1.0/accounts/123/lists/456\"\
          ]' \\\n  --data-urlencode 'is_archived=True' \\\n  --data-urlencode 'notify_on_send=True' \\\
          \n  --data-urlencode 'subject=weekly recipes' \\\n  --data-urlencode 'twitter_integration=https://api.aweber.com/1.0/accounts/123/integrations/2'\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "body = {\n    'body_html': '<html><h1>title</h1><body>message body.</body></html>',\n\
          \    'body_text': 'this is the content of my message',\n    'click_tracking_enabled': True,\n\
          \    'exclude_lists': json.dumps([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'include_lists': json.dumps([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'facebook_integration': 'https://api.aweber.com/1.0/accounts/123/integrations/1',\n\
          \    'is_archived': True,\n    'notify_on_send': True,\n    'subject': 'weekly recipes',\n \
          \   'twitter_integration': 'https://api.aweber.com/1.0/accounts/123/integrations/2',\n}\nheaders\
          \ = {'Content-Type': 'application/x-www-form-urlencoded',\n           'Accept': 'application/json',\n\
          \           'User-Agent': 'AWeber-Python-code-sample/1.0',\n           'Authorization': f'Bearer\
          \ {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n       f'/lists/{list_id}/broadcasts/{broadcast_id}')\n\
          response = requests.put(url, headers=headers, data=body)\nprint(response.json())\n"
      - lang: PHP
        source: "$body = [\n    'body_html' => '<html><h1>title</h1><body>message body.</body></html>',\n\
          \    'body_text' => 'this is the content of my message',\n    'click_tracking_enabled' => true,\n\
          \    'exclude_lists' => json_encode([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'include_lists' => json_encode([\n        'https://api.aweber.com/1.0/accounts/123/lists/456'\n\
          \    ]),\n    'facebook_integration' => 'https://api.aweber.com/1.0/accounts/123/integrations/1',\n\
          \    'is_archived' => true,\n    'notify_on_send' => true,\n    'subject' => 'weekly recipes',\n\
          \    'twitter_integration' => 'https://api.aweber.com/1.0/accounts/123/integrations/2',\n];\n\
          $headers = [\n    'Content-Type' => 'application/x-www-form-urlencoded',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0'\n\
          ];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}\"\
          ;\n$response = $client->put($url, ['form_params' => $body, 'headers' => $headers]);\n$body =\
          \ json_decode($response->getbody(), true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}\"\
          ;\nvar payload = new Dictionary<string, string>\n{\n  {\"body_html\", \"<html><h1>title</h1><body>message\
          \ body.</body></html>\"},\n  {\"body_text\", \"this is the content of my message\"},\n  {\"\
          click_tracking_enabled\", \"true\"},\n  {\"exclude_lists\", \"[\\\"https://api.aweber.com/1.0/accounts/123/lists/456\\\
          \"]\"},\n  {\"facebook_integration\", \"https://api.aweber.com/1.0/accounts/123/integrations/1\"\
          },\n  {\"include_lists\", \"[\\\"https://api.aweber.com/1.0/accounts/123/lists/456\\\"]\"},\n\
          \  {\"is_archived\", \"true\"},\n  {\"notify_on_send\", \"true\"},\n  {\"subject\", \"weekly\
          \ recipes\"},\n  {\"twitter_integration\", \"https://api.aweber.com/1.0/accounts/123/integrations/2\"\
          }\n};\nvar request = new HttpRequestMessage(HttpMethod.Put, url);\nrequest.Content = new FormUrlEncodedContent(payload);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/x-www-form-urlencoded\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nquerystring = require(\"querystring\")\nconst body = querystring.stringify({\n  \"body_html\"\
          : \"<html><h1>title</h1><body>message body.</body></html>\",\n  \"body_text\": \"this is the\
          \ content of my message\",\n  \"click_tracking_enabled\": true,\n  \"exclude_lists\": JSON.stringify([\"\
          https://api.aweber.com/1.0/accounts/123/lists/456\"]),\n  \"include_lists\": JSON.stringify([\"\
          https://api.aweber.com/1.0/accounts/123/lists/456\"]),\n  \"facebook_integration\": \"https://api.aweber.com/1.0/accounts/123/integrations/1\"\
          ,\n  \"is_archived\": true,\n  \"notify_on_send\": true,\n  \"subject\": \"weekly recipes\"\
          ,\n  \"twitter_integration\": \"https://api.aweber.com/1.0/accounts/123/integrations/2\",\n\
          });\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}`;\n\
          fetch(url, { headers: headers, method: \"PUT\", body: body})\n  .then(response => response.json())\n\
          \  .then(data => {\n    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/x-www-form-urlencoded',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {\n  'body_html': '<html><h1>title</h1><body>message body.</body></html>',\n  'body_text':\
          \ 'this is the content of my message',\n  'click_tracking_enabled': true,\n  'exclude_lists':\
          \ JSON.generate(\n    ['https://api.aweber.com/1.0/accounts/123/lists/456']\n  ),\n  'facebook_integration':\n\
          \    'https://api.aweber.com/1.0/accounts/123/integrations/1',\n  'include_lists': JSON.generate(\n\
          \    ['https://api.aweber.com/1.0/accounts/123/lists/456']\n  ),\n  'is_archived': true,\n \
          \ 'notify_on_send': true,\n  'subject': 'weekly recipes',\n  'twitter_integration':\n    'https://api.aweber.com/1.0/accounts/123/integrations/2',\n\
          }\nresponse = Faraday.put(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\" \\\n  \"\
          lists/#{list_id}/broadcasts/#{broadcast_id}\",\n  URI.encode_www_form(body)\n) do |req|\n  req.headers\
          \ = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '409':
          $ref: '#/components/responses/BroadcastSchedulingError'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncoded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateBroadcast'
        description: Request Body
        required: true
      operationId: updateBroadcast
    delete:
      summary: Delete broadcast
      description: "This endpoint is used to delete a broadcast message draft. **(Please be aware that\
        \ only drafts created the API are able to be deleted)**\n\nCheck out related examples:\n\n  *\
        \ Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      security:
      - OAuth 2.0:
        - email.write
      x-code-samples:
      - lang: Shell
        source: "curl -X DELETE \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}')\nresponse = requests.delete(url, headers=headers)\n\
          print(response.status_code)\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}\"\
          ;\n$response = $client->delete($url, ['headers' => $headers]);\necho $response->getStatusCode();\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}";

          var request = new HttpRequestMessage(HttpMethod.Delete, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.StatusCode);

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}`;\n\
          fetch(url, { headers: headers, method: \"DELETE\" })\n  .then(response => response.status)\n\
          \  .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.delete(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}\"\n) do |req|\n  req.headers = headers\n\
          end\nputs response.status\n"
      responses:
        '204':
          description: The request completed successfully
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '409':
          $ref: '#/components/responses/BroadcastSchedulingError'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: deleteBroadcast
  /accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/cancel:
    post:
      summary: Cancel scheduled broadcast
      description: "This endpoint is used to cancel a currently scheduled broadcast.\n\nCheck out related\
        \ examples:\n\n  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      security:
      - OAuth 2.0:
        - email.write
      x-code-samples:
      - lang: Shell
        source: "curl -X POST \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/cancel\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}/cancel')\nresponse = requests.post(url,\
          \ headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'Accept' => 'application/json',\n    'Authorization' => 'Bearer $token',\n\
          \    'User-Agent' => 'AWeber-PHP-code-sample/1.0'\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}/cancel\"\
          ;\n$response = $client->post($url, ['headers' => $headers]);\n$body = json_decode($response->getbody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/cancel";

          var request = new HttpRequestMessage(HttpMethod.Post, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}/cancel`;\n\
          fetch(url, { headers: headers, method: \"POST\" })\n  .then(response => response.json())\n \
          \ .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.post(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}/cancel\"\n) do |req|\n  req.headers =\
          \ headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  self_link:
                    description: The link to this resource.
                    type: string
                    format: uri
                    example: https://api.aweber.com/1.0/accounts/123/lists/456/broadcasts/3456789
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '409':
          $ref: '#/components/responses/BroadcastSchedulingError'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: cancelScheduledBroadcast
  /accounts/{accountId}/lists/{listId}/broadcasts/total:
    get:
      summary: Get total broadcasts
      description: "This endpoint is used to get the total number of broadcasts in a particular state.\n\
        \nCheck out related examples:\n\n  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - name: status
        in: query
        required: true
        description: The status of the broadcasts to retrieve. **(Please be aware that `draft` only returns
          API created Broadcast drafts)**
        schema:
          type: string
          enum:
          - draft
          - scheduled
          - sent
      security:
      - OAuth 2.0:
        - email.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/total\
          \ \\\n  -d status=sent \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/total')\nparams = urlencode({'status': 'sent'})\ntotal_url\
          \ = '{}?{}'.format(url, params)\nresponse = requests.get(total_url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/total\"\
          ;\n$params = ['status' => 'sent'];\n$totalUrl = $url . '?' . http_build_query($params);\n$response\
          \ = $client->get($totalUrl, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/total\"\
          ;\nvar queryParams = new Dictionary<string, string>\n{\n  {\"status\", \"sent\"}\n};\nvar encodedQueryParams\
          \ = string.Join(\"&\", queryParams.Select(\n  kvp => string.Format(\"{0}={1}\", kvp.Key, Uri.EscapeDataString(kvp.Value))));\n\
          var getUrl = string.Format(\"{0}?{1}\", url, encodedQueryParams);\nvar request = new HttpRequestMessage(HttpMethod.Get,\
          \ getUrl);\nrequest.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\"\
          ,\"AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nquerystring = require(\"querystring\");\n\
          const params = querystring.stringify({ \"status\": \"sent\" });\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/total?${params}`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \      console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/total\", {\n    status: 'sent'\n  }\n) do |req|\n  req.headers\
          \ = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_size:
                    description: The total broadcasts with the status.
                    type: integer
                    example: 4
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getTotalBroadcasts
  /accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/schedule:
    post:
      summary: Schedule broadcast
      description: "This endpoint is used to schedule a broadcast.\n\nCheck out related examples:\n\n\
        \  * Create and Schedule Broadcast (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/create-schedule-broadcast\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Create%20and%20Schedule%20Boadcast.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.CreateScheduleBroadcast\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/create_schedule_broadcast.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/create-schedule-broadcast.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Details (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-details\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/create-schedule-broadcast\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Details.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastDetails\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_details.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-details.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Opens and Clicks (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-opens-clicks\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastOpensClicks\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_opens_clicks.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-opens-clicks.js\"\
        \ target=\"_blank\">Node.js</a> )\n  * Get Broadcast Statistics (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-broadcast-stats\"\
        \ target=\"_blank\">Python</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-broadcast-stats\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Broadcast%20Stats.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/csharp/AWeber.Examples.GetBroadcastStats\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_broadcast_stats.rb\"\
        \ target=\"_blank\">Ruby</a>  |\n    <a href=\"https://github.com/aweber/public-api-examples/tree/master/node/get-broadcast-stats.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      security:
      - OAuth 2.0:
        - email.write
      x-code-samples:
      - lang: Shell
        source: "curl -X POST \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/schedule\
          \ \\\n  -d scheduled_for=2022-11-11T00:00:00Z \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "body = {'scheduled_for': '2022-11-11T00:00:00Z'}\nheaders = {'Content-Type': 'application/x-www-form-urlencoded',\n\
          \           'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}/schedule')\nresponse = requests.post(url,\
          \ headers=headers, data=body)\nprint(response.json())\n"
      - lang: PHP
        source: "$body = ['scheduled_for' => '2022-11-11T00:00:00Z'];\n$headers = [\n    'Content-Type'\
          \ => 'application/x-www-form-urlencoded',\n    'Accept' => 'application/json',\n    'Authorization'\
          \ => 'Bearer $token',\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0'\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}/schedule\"\
          ;\n$response = $client->post($url, ['form_params' => $body, 'headers' => $headers]);\n$body\
          \ = json_decode($response->getbody(), true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/schedule\"\
          ;\nvar payload = new Dictionary<string, string>\n{\n  {\"scheduled_for\", \"2022-11-11T00:00:00Z\"\
          },\n};\nvar request = new HttpRequestMessage(HttpMethod.Post, url);\nrequest.Content = new FormUrlEncodedContent(payload);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/x-www-form-urlencoded\"\
          ,\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\",\n  \"Authorization\": `Bearer ${accessToken}`\n\
          };\nquerystring = require(\"querystring\")\nconst body = querystring.stringify({\n  \"scheduled_for\"\
          : \"2022-11-11T00:00:00Z\"\n});\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}/schedule`;\n\
          fetch(url, { headers: headers, method: \"POST\", body: body })\n  .then(response => response.json())\n\
          \  .then(data => {\n    console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'Content-Type': 'application/x-www-form-urlencoded',\n\
          \  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n  'Authorization': \"Bearer #{access_token}\"\
          \n}\nbody = {'scheduled_for': '2022-11-11T00:00:00Z'}\nresponse = Faraday.post(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}/schedule\",\n  URI.encode_www_form(body)\n\
          ) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The broadcast successfully scheduled
          content:
            application/json:
              schema:
                type: object
                properties:
                  self_link:
                    description: The link to the broadcast resource.
                    type: string
                    format: uri
                    example: https://api.aweber.com/1.0/accounts/123/lists/456/broadcasts/3456789
        '400':
          $ref: '#/components/responses/BroadcastBadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/BroadcastNotFound'
        '409':
          $ref: '#/components/responses/BroadcastSchedulingError'
        '410':
          $ref: '#/components/responses/BlockedError'
        '415':
          $ref: '#/components/responses/NotFormURLEncoded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScheduleBroadcast'
        description: Request Body
        required: true
      operationId: scheduleBroadcast
  /accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/opens:
    get:
      summary: Get broadcast opens
      description: 'This endpoint is used to retrieve a broadcast message''s unique opens. If a subscriber
        has opened several times, the first open record will be returned for the subscriber.

        Results are returned in most recent order by event_time.

        The subscriber''s email address will only be returned if the token has the `subscriber.read` scope.'
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/pageSize'
      security:
      - OAuth 2.0:
        - email.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/opens\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}/opens')\nresponse = requests.get(url, headers=headers)\n\
          print(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}/opens\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/opens";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}/opens`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \      console.log(data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}/opens\",\n) do |req|\n  req.headers =\
          \ headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastOpens'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getBroadcastOpens
  /accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/clicks:
    get:
      summary: Get broadcast clicks
      description: 'This endpoint is used to retrieve a broadcast message''s clicks.

        By default, returns aggregated click data showing the first click per subscriber along with click
        statistics. When detailed=true, returns individual click events including the specific URLs that
        were clicked.

        Results are returned in most recent order by event_time.

        The subscriber''s email address will only be returned if the token has the `subscriber.read` scope.'
      tags:
      - Broadcasts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      - $ref: '#/components/parameters/broadcastId'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/pageSize'
      - name: detailed
        in: query
        description: When true, returns individual click events with URLs instead of aggregated click
          data per subscriber
        required: false
        schema:
          type: boolean
          default: false
      security:
      - OAuth 2.0:
        - email.read
      x-code-samples:
      - lang: Shell
        source: "# Get aggregated clicks (default - shows unique clicks per subscriber with statistics)\n\
          curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/clicks\
          \ \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n\n# Get detailed clicks (shows individual\
          \ click events with URLs)\ncurl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/clicks\
          \ \\\n  -d 'detailed=true' \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = (f'https://api.aweber.com/1.0/accounts/{account_id}'\n\
          \       f'/lists/{list_id}/broadcasts/{broadcast_id}/clicks')\n\n# Get aggregated clicks (default\
          \ - shows unique clicks per subscriber with statistics)\nresponse = requests.get(url, headers=headers)\n\
          print(\"Aggregated clicks:\", response.json())\n\n# Get detailed clicks (shows individual click\
          \ events with URLs)\nparams = {'detailed': 'true'}\nresponse = requests.get(url, headers=headers,\
          \ params=params)\nprint(\"Detailed clicks:\", response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n\n// Get aggregated clicks (default - shows unique\
          \ clicks per subscriber with statistics)\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}/clicks\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\necho \"Aggregated clicks:\\n\";\nprint_r($body);\n\n// Get detailed clicks (shows\
          \ individual click events with URLs)\n$urlDetailed = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/broadcasts/{$broadcastId}/clicks?detailed=true\"\
          ;\n$response = $client->get($urlDetailed, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\necho \"Detailed clicks:\\n\";\nprint_r($body);\n"
      - lang: C#
        source: '// Get aggregated clicks (default - shows unique clicks per subscriber with statistics)

          const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/clicks";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.WriteLine("Aggregated clicks:");

          Console.WriteLine(await response.Content.ReadAsStringAsync());


          // Get detailed clicks (shows individual click events with URLs)

          const string urlDetailed = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/clicks?detailed=true";

          var requestDetailed = new HttpRequestMessage(HttpMethod.Get, urlDetailed);

          requestDetailed.Headers.Add("Accept","application/json");

          requestDetailed.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          requestDetailed.Headers.Add("Authorization", $"Bearer {Token}");

          var responseDetailed = await Client.SendAsync(requestDetailed);

          Console.WriteLine("Detailed clicks:");

          Console.WriteLine(await responseDetailed.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\n\n// Get aggregated clicks (default - shows\
          \ unique clicks per subscriber with statistics)\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}/clicks`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \      console.log(\"Aggregated clicks:\", data)\n  })\n\n// Get detailed clicks (shows individual\
          \ click events with URLs)\nconst urlDetailed = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/broadcasts/${broadcastId}/clicks?detailed=true`;\n\
          fetch(urlDetailed, { headers: headers })\n  .then(response => response.json())\n  .then(data\
          \ => {\n      console.log(\"Detailed clicks:\", data)\n  })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\n\n# Get aggregated clicks (default - shows\
          \ unique clicks per subscriber with statistics)\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}/clicks\",\n) do |req|\n  req.headers =\
          \ headers\nend\nputs \"Aggregated clicks:\"\nputs response.body\n\n# Get detailed clicks (shows\
          \ individual click events with URLs)\nresponse_detailed = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/\"\
          \ \\\n  \"lists/#{list_id}/broadcasts/#{broadcast_id}/clicks\",\n) do |req|\n  req.headers =\
          \ headers\n  req.params['detailed'] = 'true'\nend\nputs \"Detailed clicks:\"\nputs response_detailed.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BroadcastClicks'
                - $ref: '#/components/schemas/BroadcastClicksDetailed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/RateLimitOrEmailPermission'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getBroadcastClicks
components:
  parameters:
    accountId:
      name: accountId
      in: path
      description: The account ID
      required: true
      schema:
        type: integer
        format: int32
    after:
      name: after
      in: query
      description: The pagination key when paging forward. Cannot be combined with `before`.
      schema:
        type: string
    before:
      name: before
      in: query
      description: The pagination key when paging in reverse. Cannot be combined with `after`.
      schema:
        type: string
    broadcastId:
      name: broadcastId
      in: path
      description: The broadcast ID
      required: true
      schema:
        type: integer
        format: int32
    listId:
      name: listId
      in: path
      description: The list ID
      required: true
      schema:
        type: integer
        format: int32
    pageSize:
      name: page_size
      in: query
      description: The pagination total entries to retrieve
      schema:
        type: integer
        maximum: 100
        minimum: 1
        default: 100
    wsSize:
      name: ws.size
      in: query
      description: The pagination total entries to retrieve
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 100
    wsStart:
      name: ws.start
      in: query
      description: The pagination starting offset
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
  responses:
    BadRequest:
      description: The server cannot or will not process the request due to a client error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type        | Explanation |

                  |-------------------|-------------|

                  | BadRequestError   | The request is malformed.  This can be caused by missing authorization
                  credentials |

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#badrequest
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Missing required argument(s)
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 400
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - BadRequestError
    BlockedError:
      description: The request has been blocked
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | BlockedError         | This Request has been blocked            |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com/#blocked
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Blocked Error
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 410
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - BlockedError
    BroadcastBadRequest:
      description: The server cannot or will not process the request due to a client error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  One of the following errors may be received:


                  | Error Type                  | Explanation                                |

                  |-----------------------------|--------------------------------------------|

                  | BadRequestError             | Query parameters are invalid |

                  | BroadcastDatetimeExpired    | Broadcast schedule time is in the past |

                  | InvalidBroadcastStatusError | `status` parameter has an invalid value |

                  | InvalidDatetimeError        | `scheduled_for` has an invalid value |

                  | InvalidIntegrationURIError  | An integration URI parameter has an invalid value |

                  | InvalidListURIError         | A list URI parameter has an invalid value |

                  | InvalidSegmentURIError      | `segment_link` parameter has an invalid value |

                  | InvalidSubjectError         | `subject` parameter has an invalid value |

                  | MissingArgumentError        | An required argument was not provided |

                  | MissingBodyError            | `body_html` or `body_text` paraeter was not provided
                  |

                  | MissingDatetimeError        | `scheduled_for` parameter was not provided |

                  | MissingOAuthParametersError | An OAuth parameter is missing in the request |

                  | MissingStatusError          | `status` parameter was not provided |

                  | SplitTestSegmentError       | `segment_link` refers to a split test segment |

                  | UnsupportedOAuthSignatureMethodError | Unsupported OAuth 1 signature method |

                  | UnsupportedOAuthVersionError | Unsupported OAuth 1 version |

                  | WebServiceError             | `ws.start` or `ws.size` values are invalid |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#badrequest
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Maximum for "ws.size" parameter is 100.
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 400
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - BadRequestError
                    - BroadcastDatetimeExpired
                    - InvalidBroadcastStatusError
                    - InvalidDatetimeError
                    - InvalidIntegrationURIError
                    - InvalidListURIError
                    - InvalidSubjectError
                    - MissingArgumentError
                    - MissingBodyError
                    - MissingDatetimeError
                    - MissingOAuthParametersError
                    - MissingStatusError
                    - UnsupportedOAuthSignatureMethodError
                    - UnsupportedOAuthVersionError
                    - WebServiceError
                    example: BadRequestError
    BroadcastNotFound:
      description: The requested resource could not be found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following errors may be received:


                  | Error Type             | Explanation                           |

                  |------------------------|---------------------------------------|

                  | BroadcastNotFoundError | The requested broadcast could not be found |

                  | ListNotFoundError      | The requested list could not be found |

                  | ResourceNotFoundError  | The requested resource could not be found |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#notfound
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: List id:456 not found
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 404
                  type:
                    description: The API error type
                    type: string
                    enum:
[...]
