openapi: 3.0.2
info:
  title: AWeber Lists API
  version: '1.0'
  description: 'We are constantly working to improve this documentation. If you have

    feedback and questions, please contact the AWeber API team at

    api@aweber.com.


    The AWeber API is a REST API that uses the OAuth 2.0 authentication model. We also offer webhooks.


    Please see the below resources for further information:

    - <a href="https://labs.aweber.com/docs/tos" target="_blank">Terms of Service</a>

    - <a href="https://help.aweber.com/hc/en-us/articles/204031776" target="_blank">Showcasing an Integration</a>

    - <a href="https://help.aweber.com/hc/en-us/sections/360000617213-API" target="_blank">Knowledge Base</a>

    - <a href="https://status.aweber.com" target="_blank">API Status Page</a>

    '
  contact:
    name: AWeber API Team
    email: api@aweber.com
    url: https://api.aweber.com/
servers:
- url: https://api.aweber.com/1.0
  description: v1 API endpoints
tags:
- name: Lists
  description: '### What is it?


    Represents the individual subscriber lists within the AWeber Customer Account.


    Use this set of resources to retrieve the available lists and information about each list.  The

    list collection response is sorted by the generated list `id` and paginated using `next_collection_link`

    and `prev_collection_link` properties. See [How Collections are Represented](#collection-representation)

    for details on collection traversal.


    ### Related endpoints


    * [Lists](#tag/Lists)

    * [Get custom fields for a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields/get)

    * [Add a custom field to a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields/post)

    * [Update a custom field on a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields~1{customFieldId}/patch)

    * [Remove a custom field from a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields~1{customFieldId}/delete)

    * [Get subscribers on a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/get)

    * [Add a subscriber to a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/post)

    * [Find subscribers on a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers?ws.op=find/get)

    * [Get broadcasts on a list](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)


    ### Related code examples


    * [Find a List and Get Tags](#tag/Find-a-List-and-Get-Tags)

    * [Manage a Subscriber on a List](#tag/Manage-a-Subscriber)

    * [Find Subscribers Across Lists](#tag/Find-Subscribers-Across-Lists)

    * [Move Subscriber to Another List](#tag/Move-Subscriber-to-Another-List)

    * [Get Webforms for a list](#tag/Get-Webforms-Detail)

    '
security:
- OAuth 2.0: []
paths:
  /accounts/{accountId}/lists:
    get:
      summary: Get lists
      description: "This endpoint is used to get a paginated collection of subscriber lists.\n\nCheck\
        \ out related examples:\n\n  * Get Tags (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-tags\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-tags\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Tags.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.GetTags/\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_tags.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/get-tags.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Lists
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/wsStart'
      - $ref: '#/components/parameters/wsSize'
      security:
      - OAuth 2.0:
        - list.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists \\\n  -H 'Authorization:\
          \ Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = f'https://api.aweber.com/1.0/accounts/{account_id}/lists'\n\
          response = requests.get(url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/lists\"\
          ,\n) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lists'
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type           | Explanation                              |

                      |----------------------|------------------------------------------|

                      | WebServiceError      | `ws.start` or `ws.size` values are invalid |

                      | BadRequestError      | `ws.op` is invalid (parameter can only be `find`) or there
                      was an error decoding query parameters | |

                      | MissingOAuthParametersError | An OAuth parameter is missing in the request |

                      | UnsupportedOAuthVersionError | Unsupported OAuth 1 version |

                      | UnsupportedOAuthSignatureMethodError | Unsupported OAuth 1 signature method |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Maximum for "ws.size" parameter is 100.
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: WebServiceError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getLists
  /accounts/{accountId}/lists/{listId}:
    get:
      summary: Get list
      description: "This endpoint is used to retrieve the information for a specific subscriber list.\n\
        \nCheck out related examples:\n\n  * Get Tags (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-tags\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-tags\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Tags.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.GetTags/\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_tags.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/get-tags.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Lists
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      security:
      - OAuth 2.0:
        - list.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId} \\\n  -H\
          \ 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = f'https://api.aweber.com/1.0/accounts/{account_id}/lists/{list_id}'\n\
          response = requests.get(url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/lists/#{list_id}\"\
          ,\n) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        '400':
          $ref: '#/components/responses/BadOAuth1'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getList
  /accounts/{accountId}/lists?ws.op=find:
    get:
      summary: Find lists
      description: "This endpoint is used to search for lists when you do not have a link nor know the\
        \ list ID.\n\nCheck out related examples:\n\n  * Get Tags (\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-tags\"\
        \ target=\"_blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-tags\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Tags.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.GetTags/\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_tags.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/get-tags.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Lists
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: ws.op
        in: query
        required: true
        description: The method name - expecting "find"
        schema:
          type: string
          enum:
          - find
      - name: name
        in: query
        required: false
        description: Name or unique list ID of the list
        schema:
          type: string
          minLength: 1
          maxLength: 100
      - $ref: '#/components/parameters/wsStart'
      - $ref: '#/components/parameters/wsSize'
      - $ref: '#/components/parameters/wsShow'
      security:
      - OAuth 2.0:
        - list.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists \\\n  -d ws.op=find\
          \ \\\n  --data-urlencode \"name=Weekly Newsletter\" \\\n  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = f'https://api.aweber.com/1.0/accounts/{account_id}/lists'\n\
          params = urlencode({'ws.op': 'find', 'name': 'Weekly Newsletter'})\nfind_url = '{}?{}'.format(url,\
          \ params)\nresponse = requests.get(find_url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists\"\
          ;\n$params = ['ws.op' => 'find', 'name' => 'Weekly Newsletter'];\n$findUrl = $url . '?' . http_build_query($params);\n\
          $response = $client->get($findUrl, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: "const string url = \"https://api.aweber.com/1.0/accounts/{accountId}/lists\";\nvar queryParams\
          \ = new Dictionary<string, string>\n{\n  {\"ws.op\", \"find\"},\n  {\"name\", \"Weekly Newsletter\"\
          }\n};\nvar encodedQueryParams = string.Join(\"&\", queryParams.Select(\n  kvp => string.Format(\"\
          {0}={1}\", kvp.Key, Uri.EscapeDataString(kvp.Value))));\nvar getUrl = string.Format(\"{0}?{1}\"\
          , url, encodedQueryParams);\nvar request = new HttpRequestMessage(HttpMethod.Get, getUrl);\n\
          request.Headers.Add(\"Accept\",\"application/json\");\nrequest.Headers.Add(\"User-Agent\",\"\
          AWeber-CSharp-code-sample/1.0\");\nrequest.Headers.Add(\"Authorization\", $\"Bearer {Token}\"\
          );\nvar response = await Client.SendAsync(request);\nConsole.Write(response.Content.ReadAsStringAsync());\n"
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nquerystring = require(\"querystring\");\n\
          const params = querystring.stringify({\n  'ws.op': 'find',\n  'name': 'Weekly Newsletter'\n\
          });\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists?${params}`;\nfetch(url,\
          \ { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n    console.log(data)\n\
          })\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nparams = {\n  'ws.op': 'find',\n  'name':\
          \ 'Weekly Newsletter'\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/lists\"\
          ,\n  params\n) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindLists'
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type           | Explanation                              |

                      |----------------------|------------------------------------------|

                      | WebServiceError      | `ws.start` or `ws.size` values are invalid |

                      | BadRequestError      | `ws.op` is invalid (parameter can only be `find`) or there
                      was an error decoding query parameters |

                      | MissingOAuthParametersError | An OAuth parameter is missing in the request |

                      | UnsupportedOAuthVersionError | Unsupported OAuth 1 version |

                      | UnsupportedOAuthSignatureMethodError | Unsupported OAuth 1 signature method |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Maximum for "ws.size" parameter is 100.
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: WebServiceError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: findLists
  /accounts/{accountId}/lists/{listId}/tags:
    get:
      summary: Get tags for list
      description: "Get the most popular tags for a list.  This will return an array containing up to\
        \ 500 tags sorted by descending popularity.\n\nCheck out related examples:\n\n  * Get Tags (\n\
        \    <a href=\"https://github.com/aweber/public-api-examples/blob/master/python/get-tags\" target=\"\
        _blank\">Python</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-tags\"\
        \ target=\"_blank\">PHP</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/postman/Get%20Tags.postman_collection.json\"\
        \ target=\"_blank\">Postman</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.GetTags/\"\
        \ target=\"_blank\">C#.NET</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_tags.rb\"\
        \ target=\"_blank\">Ruby</a> |\n    <a href=\"https://github.com/aweber/public-api-examples/blob/master/node/get-tags.js\"\
        \ target=\"_blank\">Node.js</a> )"
      tags:
      - Lists
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/listId'
      security:
      - OAuth 2.0:
        - list.read
      x-code-samples:
      - lang: Shell
        source: "curl -G \\\n  https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/tags \\\n\
          \  -H 'Authorization: Bearer {YOUR_ACCESS_TOKEN}'\n"
      - lang: Python
        source: "headers = {'Accept': 'application/json',\n           'User-Agent': 'AWeber-Python-code-sample/1.0',\n\
          \           'Authorization': f'Bearer {access_token}'}\nurl = f'https://api.aweber.com/1.0/accounts/{account_id}/lists/{list_id}/tags'\n\
          response = requests.get(url, headers=headers)\nprint(response.json())\n"
      - lang: PHP
        source: "$headers = [\n    'User-Agent' => 'AWeber-PHP-code-sample/1.0',\n    'Accept' => 'application/json',\n\
          \    'Authorization' => 'Bearer $token',\n];\n$url = \"https://api.aweber.com/1.0/accounts/{$accountId}/lists/{$listId}/tags\"\
          ;\n$response = $client->get($url, ['headers' => $headers]);\n$body = json_decode($response->getBody(),\
          \ true);\nprint_r($body);\n"
      - lang: C#
        source: 'const string url = "https://api.aweber.com/1.0/accounts/{accountId}/lists/{listId}/tags";

          var request = new HttpRequestMessage(HttpMethod.Get, url);

          request.Headers.Add("Accept","application/json");

          request.Headers.Add("User-Agent","AWeber-CSharp-code-sample/1.0");

          request.Headers.Add("Authorization", $"Bearer {Token}");

          var response = await Client.SendAsync(request);

          Console.Write(response.Content.ReadAsStringAsync());

          '
      - lang: JavaScript
        label: Node.js
        source: "const headers = {\n  \"Accept\": \"application/json\",\n  \"User-Agent\": \"AWeber-Node-code-sample/1.0\"\
          ,\n  \"Authorization\": `Bearer ${accessToken}`\n};\nconst url = `https://api.aweber.com/1.0/accounts/${accountId}/lists/${listId}/tags`;\n\
          fetch(url, { headers: headers })\n  .then(response => response.json())\n  .then(data => {\n\
          \    console.log(data)\n})\n"
      - lang: Ruby
        source: "headers = {\n  'Accept': 'application/json',\n  'User-Agent': 'AWeber-Ruby-code-sample/1.0',\n\
          \  'Authorization': \"Bearer #{access_token}\"\n}\nresponse = Faraday.get(\n  \"https://api.aweber.com/1.0/accounts/#{account_id}/lists/#{list_id}/tags\"\
          \n) do |req|\n  req.headers = headers\nend\nputs response.body\n"
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - alpha
                - beta
                - gamma
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: 'An error object.

                      One of the following errors may be received:


                      | Error Type           | Explanation                              |

                      |----------------------|------------------------------------------|

                      | BadRequestError      | There was an error decoding query parameters |

                      | MissingOAuthParametersError | An OAuth parameter is missing in the request |

                      | UnsupportedOAuthVersionError | Unsupported OAuth 1 version |

                      | UnsupportedOAuthSignatureMethodError | Unsupported OAuth 1 signature method |


                      Please see the message body for more details.

                      '
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Maximum for "ws.size" parameter is 100.
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: WebServiceError
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/BlockedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: getTagsForList
components:
  parameters:
    accountId:
      name: accountId
      in: path
      description: The account ID
      required: true
      schema:
        type: integer
        format: int32
    listId:
      name: listId
      in: path
      description: The list ID
      required: true
      schema:
        type: integer
        format: int32
    wsShow:
      name: ws.show
      in: query
      description: A flag to show the total size only - expecting \"total_size\", when added the response
        will be an integer
      schema:
        type: string
        enum:
        - total_size
    wsSize:
      name: ws.size
      in: query
      description: The pagination total entries to retrieve
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 100
    wsStart:
      name: ws.start
      in: query
      description: The pagination starting offset
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
  responses:
    BadOAuth1:
      description: The server cannot or will not process the request due to a client error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  One of the following errors may be received:


                  | Error Type                           | Explanation                              |

                  |--------------------------------------|------------------------------------------|

                  | BadRequestError                      | There was an error decoding query parameters
                  |

                  | MissingOAuthParametersError          | An OAuth parameter is missing in the request
                  |

                  | UnsupportedOAuthSignatureMethodError | The provided OAuth 1 signature method is unsupported.
                  Only HMAC-SHA1 is supported. |

                  | UnsupportedOAuthVersionError         | The provided OAuth 1 version is unsupported.
                  |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#badrequest
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: 'Missing oauth parameters: oauth_consumer_key'
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 400
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - MissingOAuthParametersError
    BlockedError:
      description: The request has been blocked
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | BlockedError         | This Request has been blocked            |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com/#blocked
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Blocked Error
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 410
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - BlockedError
    ForbiddenError:
      description: The request could not be completed due to a rate limit error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | ForbiddenError       | Rate limit may be reached or account may be suspended |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#forbidden
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Rate Limit Error
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 403
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - ForbiddenError
    InternalServerError:
      description: The request failed due to an internal error in the code or because of an external dependency
        failure
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | InternalServerError    | The request failed due to an internal error |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#internalerror
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Something went wrong.
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 500
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - InternalServerError
    NotFound:
      description: The requested resource could not be found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | NotFoundError        | The requested resource could not be found |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#notfound
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: 'Object: None, name: '''''
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 404
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - NotFoundError
    ServiceUnavailable:
      description: The server is currently unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: 'An error object.

                  The following error may be received:


                  | Error Type           | Explanation                              |

                  |----------------------|------------------------------------------|

                  | ServiceUnavailableError | The server is unavailable |


                  Please see the message body for more details.

                  '
                type: object
                properties:
                  documentation_url:
                    description: A link to the documentation that describes the error
                    type: string
                    example: https://api.aweber.com#serviceunavailable
                  message:
                    description: A human friendly description of the error
                    type: string
                    example: Failed to communicate with endpoint
                  status:
                    description: The HTTP status code
                    type: integer
                    enum:
                    - 503
                  type:
                    description: The API error type
                    type: string
                    enum:
                    - ServiceUnavailableError
    UnauthorizedError:
      description: The request could not be completed due to an authentication error
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/schemas/Endpoint Error'
            - $ref: '#/schemas/Auth Error'
  schemas:
    FindLists:
      type: object
      properties:
        entries:
          description: The list of list entries
          type: array
          items:
            $ref: '#/definitions/List'
        start:
          description: The starting offset for the page of entries to retrieve
          type: integer
          minimum: 0
        total_size_link:
          description: A link to check the total number of entries found for this resource
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists?name=List+Name&ws.op=find&ws.show=total_size
    List:
      type: object
      properties:
        campaigns_collection_link:
          description: '[E-Mail Campaigns](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns/get)
            used by this list'
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/campaigns
        custom_fields_collection_link:
          description: Subscriber [Custom Fields](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields/get)
            defined for this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/custom_fields
        draft_broadcasts_link:
          description: Draft [Broadcasts](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)
            belonging to this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/broadcasts?status=draft
        scheduled_broadcasts_link:
          description: Scheduled [Broadcasts](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)
            belonging to this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/broadcasts?status=scheduled
        sent_broadcasts_link:
          description: Sent [Broadcasts](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)
            belonging to this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/broadcasts?status=sent
        http_etag:
          description: The ETag HTTP header
          type: string
          example: \"902ba3cda1883801594b6e1b452790cc53948fda-f83cb0ac22a8d5f792417f9b3dc0e9dc7558aa32\"
        id:
          description: The unique ID for the list
          type: integer
          example: 456
        landing_pages_collection_link:
          description: Link to the [Landing Pages](#tag/Landing-Pages/paths/~1accounts~1{accountId}~1lists~1{listId}~1landing_pages/get)
            used by this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/landing_pages
        name:
          description: The name of the list.  This name may be changed by the customer at any time.
          type: string
          minLength: 1
          maxLength: 32
          example: Weekly Newsletter
        resource_type_link:
          description: The link to the list type
          type: string
          format: uri
          example: https://api.aweber.com/1.0/#list
        segments_collection_link:
          description: Link to the Subscriber [Segments](#tag/Segments/paths/~1accounts~1{accountId}~1lists~1{listId}~1segments/get)
            used by this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/segments
        self_link:
          description: The link to this resource
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456
        subscribers_collection_link:
          description: Link to the [Subscribers](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/get)
            belonging to this list
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/subscribers
        total_subscribed_subscribers:
          description: Number of subscribers where status = subscribed
          type: integer
          minimum: 0
          example: 250
        total_subscribers:
          description: Number of subscribers
          type: integer
          minimum: 0
          example: 275
        total_subscribers_subscribed_today:
          description: Number of subscribers that were subscribed today
          type: integer
          minimum: 0
          example: 4
        total_subscribers_subscribed_yesterday:
          description: Number of subscribers that were subscribed yesterday
          type: integer
          minimum: 0
          example: 3
        total_unconfirmed_subscribers:
          description: Number of subscribers where status = unconfirmed
          type: integer
          minimum: 0
          example: 10
        total_unsubscribed_subscribers:
          description: Number of subscribers where status = unsubscribed
          type: integer
          minimum: 0
          example: 5
        unique_list_id:
          description: 'Unique list ID of list.


            The unique list ID is the automatically generated name for your list.


            If you create a custom sign up form, you''ll need to specify the unique list ID in the form''s
            HTML code, ensuring that subscribers will be added to the list.


            The unique list ID is also the first part of your autoresponder''s e-mail address used by
            subscribers to sign up to your list.


            A subscriber can sign up to your list by sending an email to this address. (Though this method
            is rarely used anymore.)

            '
          type: string
          minLength: 1
          maxLength: 30
          example: awlist456
        uuid:
          description: The UUID (universally unique identifier) for the list
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        vapid_public_key:
          description: Public key that is used to validate web push notifications
          type: string
          example: BEJSWW8eHj_XKHt5AHpaL3tw0gee8NI2j06xyEIDmOfRGbHmqZVlwsvMO0yISFe834TaBEZRkbdHyTvSXhYCW6E
        web_form_split_tests_collection_link:
          description: '[Webform Split Tests](#tag/Webforms/paths/~1accounts~1{accountId}~1lists~1{listId}~1web_form_split_tests/get)
            defined for this list'
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/web_form_split_tests
        web_forms_collection_link:
          description: '[Webforms](#tag/Webforms/paths/~1accounts~1{accountId}~1lists~1{listId}~1web_forms/get)
            defined for this list.'
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists/456/web_forms
    Lists:
      type: object
      properties:
        entries:
          description: A list of list entries
          type: array
          items:
            $ref: '#/definitions/List'
        next_collection_link:
          description: A link to the next page of entries if more entries exist. This attribute is omitted
            from the collection if there are no more entries.
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists?ws.start=0&ws.size=10
        prev_collection_link:
          description: A link to the previous page of entries if any exist. This attribute is omitted
            from the collection if ws.start is 0.
          type: string
          format: uri
          example: https://api.aweber.com/1.0/accounts/123/lists?ws.start=0
        resource_type_link:
          description: A link that identifies the type of resource that this collection represents
          type: string
          format: uri
          example: https://api.aweber.com/1.0/#list-page-resource
        start:
          description: The starting offset for the page of entries to retrieve
          type: integer
          minimum: 0
        total_size:
          description: The total number of entries
          type: integer
          minimum: 0
          example: 100
  securitySchemes:
    OAuth 2.0:
      description: 'The following endpoints and scopes are used to authenticate.

        '
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.aweber.com/oauth2/authorize
          tokenUrl: https://auth.aweber.com/oauth2/token
          refreshUrl: https://auth.aweber.com/oauth2/token
          scopes:
            account.read: '<br>

              Access account information and associated integrations. <br>

              <b>Required for the following endpoints:</b> get accounts, get account, get integrations,
              get integration

              '
            landing-page.read: '<br>

              Retrieve landing pages <br>

              <b>Required for the following endpoints:</b> get landing pages, get landing page

              '
            list.read: '<br>

              Retrieve lists, custom fields, tags, and sign up forms <br>

              <b>Required for the following endpoints:</b> get list, get lists, find lists, get tags for
              list, get custom fields, get custom field, get webforms for list, get split tests for list,
              get split test components, get split test component, get webforms for account, get split
              tests for account

              '
            list.write: '<br>

              Create, edit, and delete custom fields <br>

              <b>Required for the following endpoints:</b> add custom field, update custom field, delete
              custom field

              '
            subscriber.read: '<br>

              Retrieve subscribers and their activity <br>

              <b>Required for the following endpoints:</b> get subscribers, get subscriber, get subscriber
              activity, get subscribers for message, find subscribers for account, find subscribers for
              list

              '
            subscriber.write: '<br>

              Create, edit, delete, retrieve, search for, and move subscribers <br>

              <b>Required for the following endpoints:</b> add subscriber, move subscriber, update subscriber,
              delete subscriber

              '
            subscriber.read-extended: '<br>

              Previously required to retrieve subscriber PII such as name, email, IP address, etc.  This
              functionality was moved to the "subscriber.read" scope

              '
            email.read: '<br>

              Retrieve email activity related to broadcasts and follow-ups <br>

              <b>Required for the following endpoints:</b> get messages, get message, get broadcasts,
              get broadcast, get message opens, get message open, get message tracked events, get message
              tracked event, get total broadcasts, get campaigns, get campaign, find campaigns, get broadcast
              statistics, get broadcast statistic

              '
            email.write: '<br>

              Create and send email broadcasts <br>

              <b>Required for the following endpoints:</b> create broadcast, update broadcast, delete
              broadcast, cancel broadcast, schedule broadcast

              '
