openapi: 3.0.2
info:
  title: AWeber API
  description: 'We are constantly working to improve this documentation. If you have

    feedback and questions, please contact the AWeber API team at

    api@aweber.com.


    The AWeber API is a REST API that uses the OAuth 2.0 authentication model. We also offer webhooks.


    Please see the below resources for further information:

    - <a href="https://labs.aweber.com/docs/tos" target="_blank">Terms of Service</a>

    - <a href="https://help.aweber.com/hc/en-us/articles/204031776" target="_blank">Showcasing an Integration</a>

    - <a href="https://help.aweber.com/hc/en-us/sections/360000617213-API" target="_blank">Knowledge Base</a>

    - <a href="https://status.aweber.com" target="_blank">API Status Page</a>

    '
  version: '1.0'
servers:
- url: https://api.aweber.com/1.0
  description: v1 API endpoints
tags:
- name: Accounts
  description: '### What is it?


    Represents AWeber Customer Accounts that have authorized your application.


    The Account collection contains a single account entry for the AWeber Customer Account

    that has authorized your application.  You can use the links in the Account entry to

    retrieve the lists owned by the account as well as the social integrations associated

    with the account.


    ### Related endpoints


    * [Accounts](#tag/Accounts)


    ### Related code samples


    * [Find a list on an account](#tag/Find-a-List-and-Get-Tags)

    * [Get Integrations List](#tag/Get-Integrations-List)

    '
- name: Beta Endpoints
  description: '### What is it?


    Beta endpoints are early-access versions of the upcoming v2 API that provide developers with a preview
    of new features and changes before the official v2 release. These endpoints are accessible at `api.aweber.com/2.0-beta/`
    and include **new functionality not available in v1**.


    Beta endpoints are previews of v2 functionality and do not replace v1 endpoints. The stable v1 API
    remains the recommended choice for production applications.


    ### Important Notice


    **Beta endpoints are experimental and subject to change without notice.** As beta endpoints, developers
    should expect:


    - **Contracts may change** at any time without backward compatibility

    - **Endpoints may not follow** previously established patterns from v1 endpoints

    - **Current Documentation may be inaccurate** or incomplete

    - **Limited support** compared to stable v1 endpoints

    - **No guarantee of stability** until official v2 release


    **Use beta endpoints only for testing and development purposes.** Do not rely on beta endpoints for
    production applications.


    ### Key Differences from v1 API


    Beta endpoints introduce several changes that preview the upcoming v2 API:


    - **UUID Identifiers**: Resources use UUIDs instead of numeric IDs

    - **New Functionality**: Access to capabilities and data not available through v1 endpoints

    - **Different Base URL**: Beta endpoints are accessible at `api.aweber.com/2.0-beta/` instead of `api.aweber.com/1.0/`


    ### Authentication


    Beta endpoints use the same OAuth 2.0 authentication as v1 endpoints. Your existing access tokens
    and authentication flow will work with beta endpoints.


    ### Base URL


    ```

    https://api.aweber.com/2.0-beta/

    ```


    ### Support


    For questions about beta endpoints:

    - Email: [api@aweber.com](mailto:api@aweber.com?subject=Beta%20Endpoints)

    - Include "Beta Endpoints" in your subject line

    - Provide specific details about the endpoint and issue encountered

    '
- name: Broadcasts
  description: '### What is it?


    Represents broadcast messages associated with a specific list.


    Use this set of resources to create, retrieve, modify, schedule, and delete broadcast

    messages on a list.


    The broadcast collection is paginated in pages of 100 items by default and sorted based

    on the message status.  Each response page includes `next_collection_link` and

    `prev_collection_link` properties to traverse the collection.  See

    [How Collections are Represented](#collection-representation) for traversal details and the

    following table for sorting.


    | Status      | Sort attribute  | Description                                                                                                |

    |-------------|-----------------|------------------------------------------------------------------------------------------------------------|

    | `draft`     | `broadcast_id`  | A Broadcast Message that has been created via the `Create Broadcast`
    endpoint and is currently unscheduled |

    | `scheduled` | `scheduled_for` | A Broadcast Message that has scheduled but not sent                                                        |

    | `sent`      | `sent_at`       | A Broadcast Message that has been sent                                                                     |


    ### Related endpoints


    * [Broadcasts](#tag/Broadcasts)

    * [Get broadcasts by state](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)

    * [Get broadcasts for a list](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns/get)

    * [Get information about links in a broadcast](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{campaignId}~1links/get)

    * [Get information about link clicks for a broadcast](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{campaignId}~1links~1{linkId}~1clicks/get)

    * [Get broadcast statistics](#tag/Campaigns/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1b{campaignId}~1stats/get)


    ### Related code samples


    * [Create and Schedule a Broadcast](#tag/Create-and-Schedule-a-Broadcast)

    * [Get Sent Broadcast Details](#tag/Get-Sent-Broadcast-Details)

    * [Get Broadcast Statistics](#tag/Get-Broadcast-Statistics)

    * [Get Subscribers Who Opened or Clicked a Broadcast](#tag/Get-Subscribers-Who-Opened-or-Clicked-a-Broadcast)

    '
- name: Campaigns
  description: '### What is it?


    Represents followup and broadcast messages associated with a list.


    **The Campaigns email automation platform within the AWeber web platform is not

    currently supported by the AWeber API.**


    Use this set of resources to retrieve information and statistics for messages on a list by type

    of message (e.g., *followup* or *broadcast*).  The collection responses are sorted based on

    message type and paginated using `next_collection_link` and `prev_collection_link` properties.

    See [How Collections are Represented](#collection-representation) for details on collection

    traversal and the individual endpoints for sorting characteristics.


    ### Related endpoints


    * [Campaigns](#tag/Campaigns)


    ### Related code samples


    * [Get Broadcast Statistics](#tag/Get-Broadcast-Statistics)

    * [Get Subscribers Who Opened or Clicked a Broadcast](#tag/Get-Subscribers-Who-Opened-or-Clicked-a-Broadcast)

    '
- name: Custom Fields
  description: "### What is it?\n\nRepresents the custom fields associated with a list.\n\nUse this set\
    \ of resources to retrieve, create, modify, and delete the custom fields that\nare defined for subscribers\
    \ on the list.  The single collection response is sorted by the\ngenerated custom field `id` and paginated\
    \ using `next_collection_link` and\n`prev_collection_link` properties.  See [How Collections are Represented](#collection-representation)\n\
    for details on collection traversal.\n\n### Warning about modifying Custom Fields\n\nModifying or\
    \ deleting a custom field has a number of side-effects that need to be understood\n*BEFORE* you change\
    \ them.  See\n<a href=\"https://help.aweber.com/entries/21749682-why-could-changing-my-custom-field-names-cause-problems\"\
    \n target=\"_blank\">Why could changing my custom field names cause problems</a> for more details.\n\
    \n### Related endpoints\n\n* [Custom Fields](#tag/Custom-Fields)\n* [Find subscribers within an account\
    \ by custom field](#tag/Subscribers/paths/~1accounts~1{accountId}?ws.op=findSubscribers/get)\n* [Find\
    \ subscribers on a list by custom field](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers?ws.op=find/get)\n\
    \n### Related code samples\n\n* [Manage Custom Fields](#tag/Manage-Custom-Fields)\n"
- name: Integrations
  description: '### What is it?


    Represents the 3rd Party Services that are integrated with the AWeber Customer Account.


    Use this set of resources to retrieve the integrations that are available for

    use when creating broadcasts.  For example, use the integration `self_link`

    as a parameter when [creating a broadcast](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/post)
    to cross-post to Twitter and Facebook

    when a broadcast is sent. The integrations returned include Facebook, Twitter,

    PayPal and Shopify, if connected.


    The collection response is sorted by the generated integration `id` and paginated using `next_collection_link`
    and `prev_collection_link` properties.  See

    [How Collections are Represented](#collection-representation) for details on collection

    traversal.


    ### Related endpoints


    * [Integrations](#tag/Integrations)


    ### Related code examples


    * [Create and Schedule a Broadcast](#tag/Create-and-Schedule-a-Broadcast)

    * [Get Integrations List](#tag/Get-Integrations-List)

    '
- name: Landing Pages
  description: '### What is it?


    Represents the landing pages associated with a list.


    Use this resource to retrieve the landing pages that are defined for the list.  The single collection

    response is sorted by the generated landing page `id` and paginated using `next_collection_link` and

    `prev_collection_link` properties.  See

    [How Collections are Represented](#collection-representation) for details on collection traversal.


    ### Related endpoints


    * [Landing Pages](#tag/Landing-Pages)


    ### Related code examples


    * [Get Landing Pages](#tag/Get-Landing-Pages)

    '
- name: Lists
  description: '### What is it?


    Represents the individual subscriber lists within the AWeber Customer Account.


    Use this set of resources to retrieve the available lists and information about each list.  The

    list collection response is sorted by the generated list `id` and paginated using `next_collection_link`

    and `prev_collection_link` properties. See [How Collections are Represented](#collection-representation)

    for details on collection traversal.


    ### Related endpoints


    * [Lists](#tag/Lists)

    * [Get custom fields for a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields/get)

    * [Add a custom field to a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields/post)

    * [Update a custom field on a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields~1{customFieldId}/patch)

    * [Remove a custom field from a list](#tag/Custom-Fields/paths/~1accounts~1{accountId}~1lists~1{listId}~1custom_fields~1{customFieldId}/delete)

    * [Get subscribers on a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/get)

    * [Add a subscriber to a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/post)

    * [Find subscribers on a list](#tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers?ws.op=find/get)

    * [Get broadcasts on a list](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/get)


    ### Related code examples


    * [Find a List and Get Tags](#tag/Find-a-List-and-Get-Tags)

    * [Manage a Subscriber on a List](#tag/Manage-a-Subscriber)

    * [Find Subscribers Across Lists](#tag/Find-Subscribers-Across-Lists)

    * [Move Subscriber to Another List](#tag/Move-Subscriber-to-Another-List)

    * [Get Webforms for a list](#tag/Get-Webforms-Detail)

    '
- name: Segments
  description: '### What is it?


    Represents the segments associated with a list.


    Use this resource to retrieve the segments that are defined for the list.  The single collection

    response is sorted by the generated segment `id` and paginated using `next_collection_link` and

    `prev_collection_link` properties.  See

    [How Collections are Represented](#collection-representation) for details on collection traversal.



    ### Related endpoints


    * [Segments](#tag/Segments)

    * [Create broadcast](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/post)

    * [Update broadcast](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts~1{broadcastId}/put)


    ### Related code examples


    * [Get Segments](#tag/Get-Segments)

    '
- name: Subscribers
  description: '### What is it?


    Represents a collection of subscribers.


    Use this set of resources to add, remove, find, and update an AWeber Customer Account''s subscribers.

    The collection responses are ordered and paginated using `next_collection_link` and

    `prev_collection_link` properties.  See [How Collections are Represented](#collection-representation)

    for details on collection traversal and the individual endpoint descriptions for ordering constraints.

    Many of the subscriber-related endpoints support the `sort_order` query parameter to control the sorting

    *direction* in the response collection.


    Subscribers are one of the most important elements in the AWeber API so care must be taken before

    adding a subscriber to a list.  Read more about adding subscribers in AWeber Knowledge Base article

    <a href="https://help.aweber.com/entries/21729456-can-i-use-this-list" target="_blank">

    "Can I use this list?"</a>.


    Although not required, it''s strongly recommended that you provide the IP address of the Subscriber
    if

    it is known.  For web based Apps, the `ip_address` that you should use is the REMOTE_ADDRESS of their

    requests to your App server, not the server''s IP address.  The IP address is used in the Geo Location

    parameters and for send windows in the AWeber Control Panel.  **The IP address can only be specified

    when ADDING a new subscriber.**



    ### Related endpoints


    * [Subscribers](#tag/Subscribers)

    * [Get subcribers associated with a message](#tag/Messages/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{messageId}~1messages?ws.op=getSubscribers/get)

    * [Get susbcribers that opened a message](#tag/Messages/paths/~1accounts~1{accountId}~1lists~1{listId}~1campaigns~1{campaignType}{messageId}~1messages~1{messageEntryId}~1opens/get)


    ### Related code examples


    * [Manage a Subscriber](#tag/Manage-a-Subscriber)

    * [Find Subscribers Across Lists](#tag/Find-Subscribers-Across-Lists)

    * [Move Subscriber to Another List](#tag/Move-Subscriber-to-Another-List)

    * [Get Subscribers Who Opened or Clicked a Broadcast](#tag/Get-Subscribers-Who-Opened-or-Clicked-a-Broadcast)

    '
- name: Webforms
  description: '### What is it?


    Represents the collection of sign-up forms associated with the AWeber Customer

    Account''s lists.


    Webforms are sets of customized HTML and javascript that are used to put up a sign-up forms

    on a customer''s website.  The Webform can be modified in the AWeber Control Panel and if you

    include the javascript source link on any web page, that form will be displayed.


    Webforms can also be subject to split-tests to compare conversion effectiveness.  Webforms that

    belong to a split test are listed as *components* of the split test and can be retrieved by

    following the `components_collection_link` of the split test. The statistics of each component

    include only displays of that Webform where it was displayed from a split test.


    Use this set of resources to retrieve information about the available sign-up forms and associated

    split tests.  The collection responses are sorted by the appropriate identifier and paginated using

    `next_collection_link` and `prev_collection_link` properties. See

    [How Collections are Represented](#collection-representation) for details on collection traversal.


    ### Related endpoints


    * [Webforms](#tag/Webforms)


    ### Related code examples


    * [Get Webforms Detail](#tag/Get-Webforms-Detail)

    '
- name: Getting Started
  description: '## Creating a Developer Account

    To start developing, you will first need to [create a free developer account](https://labs.aweber.com).

    After you create a developer account, [log in](https://labs.aweber.com/auth/login)

    and [create an app](https://labs.aweber.com/apps).


    ## What does AWeber provide?


    AWeber provides a REST API and Webhooks. For more information about webhooks please navigate to the

    [Webhooks](#tag/Webhooks) section within this documentation.


    ## What is the AWeber API?


    The AWeber API is a [JSON] based [REST] API.


    [JSON]: https://en.wikipedia.org/wiki/JSON

    [REST]: https://en.wikipedia.org/wiki/Representational_state_transfer


    This means that resources are represented as JSON dictionaries and you use a different

    HTTP verb to do your standard CRUD operations on them:


    - [POST](https://tools.ietf.org/html/rfc7231#section-4.3.3): Create new resources.

    - [GET](https://tools.ietf.org/html/rfc7231#section-4.3.1): Retrieve a resource.

    - [PATCH](https://tools.ietf.org/html/rfc5789): Update existing resources.

    - [DELETE](https://tools.ietf.org/html/rfc7231#section-4.3.5): Delete existing resources.


    ### Note


    Within this document, campaigns is a generic term that refers to both Broadcast and

    Follow Up messages. Currently the AWeber API does not support

    [Campaigns](https://www.aweber.com/email-automation.htm), which is an email automation

    platform available to customers within the AWeber web platform.


    ### Authentication


    Before you can make requests to the API, you need to support our authentication

    protocol. We currently require all new applications using the API to make use of the

    OAuth 2.0 authentication protocol.


    We recommend that you start out by visiting the

    [OAuth 2.0 Overview](#tag/OAuth-2.0-Overview). This will walk you through the authentication

    process.


    ### How Resources are Arranged in the AWeber API


    API resources are arranged in the AWeber API based on their relationships to each

    other. We illustrate these relationships on the image below with the URLs of the

    resources. When we refer to the relationships of the resources, we say an Account has

    Lists, a List has Subscribers, etc. We can also say Subscribers belong to a List, or

    Lists belong to an Account, and so on.


    A single resource is referred to as an Entry and is shown as a yellow circle on the

    image. Entries are contained in Collections which are shown as a blue box on the image.

    These resources are contained under version ''1.0'' of the API.


    <a href="/static/api-map.png?v=20200827" target="_blank"><img class="api-map" alt="[Resource Map]"
    src="/static/api-map.png?v=20200827"></a>


    <a name="collection-representation">&nbsp;</a>

    ### How Collections are Represented


    Collections are represented as an ordered sequence of entries. They are paginated using the `ws.size`
    and

    `ws.start` query parameters where `ws.size` is the maximum number of entries to return and `ws.start`
    is

    the zero-based index to start the page at. The response represents a page of entries and includes
    at

    least the following body properties:


    | Name                 | Type                 | Description                                             |

    | ----                 | ----                 | -----------                                             |

    | entries              | List of Objects      | The entries on the requested page                       |

    | start                | Non-negative Integer | The starting offset of the page                         |

    | total_size           | Non-negative Integer | The total size of the collection*                       |

    | next_collection_link | URL                  | Link to the next page unless this is the final page     |

    | prev_collection_link | URL                  | Link to the previous page unless this is the first
    page |


    Though you can specify the exact page that you want using `ws.size` and `ws.start`, you should use
    the

    `next_collection_link` and `prev_collection_link` properties in the response to traverse the collection.

    If the `prev_collection_link` is absent, then the current page is the first page. Likewise, if the

    `next_collection_link` is absent, then the current page is the last page in the collection.

    '
- name: Authentication Overview
  description: "The AWeber API uses the <a href=\"https://tools.ietf.org/html/rfc6749\" target=\"_blank\"\
    >OAuth 2.0</a> specification for authentication. OAuth 2.0 is the successor to OAuth 1, which AWeber’s\
    \ API formerly used. If you have an existing OAuth 1 application, documentation regarding\n<a href=\"\
    https://help.aweber.com/hc/en-us/articles/360007147994-How-do-I-use-OAuth-1-authentication-with-AWeber-s-API-\"\
    \ target=\"_blank\">how to connect with OAuth 1</a> is available. Please plan to move to OAuth 2.0\
    \ as soon as you are able.\n\nConnecting your integration to an AWeber customer account requires the\
    \ use of OAuth 2.0. This step is\nrequired before you start making requests to AWeber’s API in order\
    \ to do things like add subscribers,\ncheck your broadcast stats, or sending messages. We use OAuth\
    \ 2.0 in order to ensure that an integration\nhas permission to access a given AWeber account.\n\n\
    You'll need the following to get started:\n\n- An AWeber developer account\n- An app created in that\
    \ account\n- An AWeber customer account\n- An HTTP library capable of making OAuth 2.0 requests.\n\
    \nIf you need a customer account you can <a href=\"https://www.aweber.com/account-signup.htm\" target=\"\
    _blank\">sign up for a free trial</a>\nto get started. These examples will be using Python 3 and <a\
    \ href=\"https://github.com/requests/requests-oauthlib\" target=\"_blank\">requests_oauthlib</a>\n\
    as the HTTP library. You will find there are lots of good libraries available for every programming\
    \ language. The set up and usage\nvaries between libraries. Be sure to read the documentation for\
    \ the library you select. For a full sample in Python as well as PHP, C#.NET, Ruby, and Node.js please\
    \ see our\n<a href=\"https://github.com/aweber/public-api-examples\" target=\"_blank\">code samples</a>\
    \ on GitHub.\n\n<security-definitions />\n\n## What is OAuth 2.0?\nOAuth is a way for a developer\
    \ to securely access information without knowing\nsomeone’s password or other login details. The end\
    \ result of OAuth is an access\ntoken, which proves that the developer has permission to access the\
    \ data held in\nthe API and should always be kept safe and secure. If you are creating an\napplication\
    \ that cannot store secrets in an secure way (e.g. a mobile application\nor a WordPress plugin) use\
    \ Proof Key for Code Exchange (PKCE) which does not require\nthe client secret to be used or stored.\
    \  See\n[Public or confidential?](#public-or-confidential) below for more detail.\n\nThe general flow\
    \ of OAuth 2.0 is a back and forth handshake between the developer, the AWeber customer, and AWeber’s\
    \ API. In this guide you’ll learn to do the following:\n\n1. Build an authorization URL\n2. Get an\
    \ authorization code\n3. Trade your authorization code for an access token\n4. Refresh your access\
    \ token after it expires using the refresh token\n\nIf your client is a *public client*, then you\
    \ do not have a client secret and\nyou are required to use the code verifier and code challenge instead\
    \ of the\nclient secret.  The steps required are the same except that the `client_secret`\nis not\
    \ used.  See [Public or confidential?](#public-or-confidential) below for\nmore detail.\n\n### Step\
    \ 1: Build an authorization URL\nThe first thing you’ll need to do is create a hyperlink to start\
    \ the authorization process. This code provides AWeber’s API with\ninformation such as which integration\
    \ is making the request and what access the integration requires. Please review the example below:\n\
    \n```\nhttps://auth.aweber.com/oauth2/authorize?response_type=code&client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_CALLBACK&scope=YOUR_REQUESTED_SCOPES&state=STATE_TOKEN\n\
    ```\n\nThe components of this URL are as follows:\n\n- The base URL is provided by AWeber and connects\
    \ you to our servers.\n- `response_type` tells AWeber what you want us to send back. For this step\
    \ you should always use `code` since you want an authorization code.\n- `client_id` is the Client\
    \ ID listed in your developer account. It uniquely identifies your integration to AWeber.\n- `redirect_uri`\
    \ is your callback. This is where the user-agent (in most cases the customer’s browser) will be sent\
    \ after the customer clicks `authorize`.\n  This should be a uri that your application can read because\
    \ that’s where we’ll provide our response. When you provide your callback, make sure it’s the same\n\
    \  one you specified when creating your integration.\n\n  If your application will be installed on\
    \ multiple domains, you can send the authorization code out-of-band (OOB) instead. This will display\
    \ the code in a\n  page where users can copy and paste it into your application. To do this, configure\
    \ your application's redirect URI to the special value\n  `urn:ietf:wg:oauth:2.0:oob` and use this\
    \ value for your `redirect_uri`.\n\nTo learn more about how to implement OOB, please visit our <a\
    \ href='https://help.aweber.com/hc/en-us/articles/360026310014-How-do-I-use-the-out-of-band-redirect-URI-'\
    \ target='_blank'>knowledge base article</a>.\n\n- `state` is a token you provide to AWeber for CSRF\
    \ protection. You can also use this token as a session token to preserve user data between the auth\
    \ steps,\nproviding a better experience for your users. We pass this data back to you later and you\
    \ can check that it matches the value you sent. A random string or\na hash of a session cookie is\
    \ acceptable here, it just needs to be something you know but a potential attacker doesn’t and it\
    \ should change for each new user.\n- `scope` is a list of space separated permissions your integration\
    \ requires. To change permissions later,\nall customers will need to repeat the authorization process.\
    \ Please ensure you have the ones you need.\n\nBelow is an example using requests_oauthlib.\n\n```python\n\
    from requests_oauthlib import OAuth2Session\n\nAUTHORIZE_URL = 'https://auth.aweber.com/oauth2/authorize'\n\
    \n# Replace with your real values\nclient_id = '****'\nredirect_uri = 'https://localhost'\nscope =\
    \ ['account.read', 'list.read', 'subscriber.read', 'email.read']\n\noauth = OAuth2Session(client_id,\
    \ redirect_uri=redirect_uri, scope=scope)\nauthorization_url, state = oauth.authorization_url(AUTHORIZE_URL)\n\
    print(authorization_url)\n```\nThe output will be the authorize URL for your integration user.\n\n\
    ### Step 2: Get an Authorization Code\nUsing the authorization URL you generated in Step 1, create\
    \ a button or hyperlink that says “Click to connect to AWeber” or something similar.\n\nThe link you\
    \ provide will lead customers to AWeber’s authorization screen. This screen outlines your integration,\
    \ the access being requested,\nand an area for customers to provide their username and password. Customers\
    \ will review the screen, enter their login credentials, and click authorize.\n\nClicking authorize\
    \ (after entering valid credentials) redirects the user to the callback URI you specified in Step\
    \ 1. In the query string of the\nredirect will be a query parameter containing your authorization\
    \ code. If you provided a state token in step 1, that is sent back as a second query parameter.\n\n\
    For example, if the `redirect_uri` you provided was `https://app.example.com/auth` we would redirect\
    \ the AWeber customer’s browser to:\n```\nhttps://app.example.com/auth?code=YOUR_NEW_AUTH_CODE&state=STATE_YOU_PROVIDED\n\
    ```\n\nYou should collect the query parameters from the URI. Please verify the `state` token sent\
    \ to you is the same as the one you gave us. If everything is valid, save\nthe `code` parameter for\
    \ the next step. Your chosen library may handle verification of the state token for you.\n\nIf you\
    \ specified `urn:ietf:wg:oauth:2.0:oob` as your `redirect_uri`, the code will be displayed in a page\
    \ for users to copy and paste into your application\ninstead.\n\n### Step 3: Trade your Authorization\
    \ Code for an Access Token\nNow that you have your authorization code you’re ready to get your access\
    \ token! This involves making a POST request to our access token URL,\nhttps://auth.aweber.com/oauth2/token\
    \ using your `client ID` and `client secret` from your developer account. We recommend using HTTP\
    \ Basic\nauthentication with the `client ID` as the username and the `client secret` as the password.\
    \ Most libraries support this approach. If your library\ndoes not support setting the `Authorization`\
    \ header, please send them as query parameters called `client_id` and `client_secret`.\n\nHere’s what\
    \ a POST request looks like using basic authentication:\n\n```\nPOST /oauth2/token HTTP/1.1\nHost:\
    \ auth.aweber.com\nContent-Type: application/x-www-form-urlencoded\nAuthorization: Basic *****************\n\
    \ngrant_type=authorization_code&code=YOUR_AUTHORIZATION_CODE&redirect_uri=YOUR_CALLBACK\n```\n\nThe\
    \ parameters required are as follows:\n- `grant_type` is a parameter that tells us if you’re getting\
    \ a brand new access token or refreshing one. For a new token always pick `authorization_code`.\n\
    - `code` is the authorization code you obtained in step 2.\n- `redirect_uri` is your callback again.\
    \ Make sure it’s the same as the one you used before! We use this to help verify it’s still the same\
    \ app making the request.\n\nOur response will contain your `access_token`, an `expires_in` value,\
    \ and a `refresh_token`. Congratulations, you now have the access token required to make\nrequests\
    \ to AWeber’s API! You can try it out right away, but make sure to save the `expires_in` and `refresh_token`\
    \ information for later.\n\n**NOTE:** Tokens should not be shared publicly. Please save them somewhere\
    \ safe.\n\nTo use the `access_token` you must include it with your request using a bearer authentication\
    \ header.  If you cannot set the `Authorization` header, then you may include the access token in\
    \ a form-encoded body parameter named `access_token` or\na query parameter of the same name. This\
    \ access token remains good for the amount of seconds specified by the `expires_in` field. After that\
    \ time passes you will need to refresh your token, which is covered in the final step of this walkthrough.\n\
    \nHere is a requests_oauthlib example of fetching a token using the same `OAuth2Session` that was\
    \ set up previously:\n\n```python\nclient_secret = '*****'\nauthorization_response = input('Log in\
    \ and paste the returned URL here: ')\n\ntoken = oauth.fetch_token(\n    'https://auth.aweber.com/oauth2/token',\n\
    \    authorization_response=authorization_response,\n    client_secret=client_secret\n)\nprint(token)\n\
    ```\n\n### Step 4: Refresh the Access Token\nIf it has been a while since you obtained your access\
    \ token, all requests to AWeber’s API will return an unauthorized error. To correct the error,\nyou\
    \ need to refresh your access token. This step works much like obtaining an access token. You will\
    \ make a POST request to AWeber’s token endpoint.\nThis time specify a `grant_type` of `refresh_token`\
    \ and you include your refresh token in the request (instead of the authorization code). The same\n\
    rules apply to including your client credentials (`client_id` and `client_secret`).  The following\
    \ example shows how to refresh a token using\nrequests_oauthlib again.\n\n```\nPOST /oauth2/token\
    \ HTTP/1.1\nHost: auth.aweber.com\nContent-Type: application/x-www-form-urlencoded\nAuthorization:\
    \ Basic *******************\n\ngrant_type=refresh_token&refresh_token=YOUR_REFRESH_TOKEN\n```\n\n\
    The response is the same as when you redeem the authorization code for an access token. You will receive\
    \ a new `access_token`, an `expires_in` parameter, and a `refresh_token`. This is required each time\
    \ your token expires.\n\nMost libraries manage refreshing tokens for you by reading the `expires_in`\
    \ parameter from a file or database location. Please refer to your library’s documentation about automatic\
    \ refreshing. The implementation may vary slightly. When using Python’s requests_oauthlib library\
    \ the call looks like this, where `oauth` is an OAuth2Session:\n\n```python\nclient_id = '*****'\n\
    client_secret = '*****'\n\ntoken = oauth.refresh_token('https://auth.aweber.com/oauth2/token',\n \
    \                           client_id=client_id,\n                            client_secret=client_secret)\n\
    ```\n\n## Public or confidential?\nThe preceding examples assumed that your applications configuration\
    \ is kept\nsecret since the client secret is used to create and refresh tokens.  The\nclient secret\
    \ is **required** to be kept secret at all times.  Anyone that has\naccess to your client identifier\
    \ and secret can access the data of **every AWeber\ncustomer** using your application.  This works\
    \ well for applications that you\nhost in a closed environment but it does not work for mobile applications\
    \ or\nintegrations without secure configuration (e.g., Wordpress plug-ins).\n\nThe OAuth 2.0 framework\
    \ defines two client types in [RFC-6749](https://tools.ietf.org/html/rfc6749):\n\n**Confidential**\n\
    \n> Clients capable of maintaining the confidentiality of their credentials (e.g.,\n> client implemented\
    \ on a secure server with restricted access to the client\n> credentials), or capable of secure client\
    \ authentication using other means.\n\n**Public**\n\n> Clients incapable of maintaining the confidentiality\
    \ of their credentials\n> (e.g., clients executing on the device used by the resource owner, such\
    \ as\n> an installed native application or a web browser-based application), and\n> incapable of secure\
    \ client authentication via any other means.\n\n*Public* clients cannot use the standard [OAuth 2.0\
    \ Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1) flow\nsince they are incapable\
    \ of maintaining secrets.  For this reason, the AWeber\nAPI supports supports *Proof Key for Code\
    \ Exchange* (PKCE) as specified in\n[RFC-7636](https://tools.ietf.org/html/rfc7636) for public clients.\n\
    \nThere are a few differences in the authorization flow for PKCE.  The most\nimportant is that you\
    \ **never** include your client secret.  Instead of using\na client secret that is shared between\
    \ the client and the authorization server,\nPKCE has the client create a string of ASCII characters\
    \ known as the **code\nverifier**.  A hashed digest of the verifier is sent with the authorization\n\
    request (step 1) and the verifier is added to the token request (step 3).\nThe server saves the hashed\
    \ digest (also known as the **code challenge**) with\nthe authorization code that it generates and\
    \ compares the verifier to the\nchallenge when redeeming the authorization code.\n\nLet's walk through\
    \ the differences from the standard flow step-by-step to\nsee how PKCE works without a client secret.\n\
    \n### Step 1: Build an authorization URL\nThe authorization URL for public clients requires two additional\
    \ parameters\nto act as a transient secret.  The *code challenge* is the hashed version of\nthe *code\
    \ verifier*.  The *code challenge method* identifies the hash algorithm\nthat was used to generate\
    \ the challenge.  This is required to be **S256** since\nthe AWeber API **only supports SHA256 hashed\
    \ challenges**.\n\nBefore sending the authorization request, the client is **required** to generate\n\
    a *code verifier* that is a random string of at least 43 characters and at most\n128 characters. \
    \ See [RFC-7636](https://tools.ietf.org/html/rfc7636) for a precise description of the code verifier.\n\
    Then the client generates the *code challenge* from the verifier by hashing the\nverifier using SHA-256\
    \ and Base64 encoding the resulting value using the *url-safe*\nbase64 variant.  The challenge and\
    \ challenge method are sent as the *code_challenge*\nand *code_challenge_method* query parameters\
    \ in the authorization URL.\n\nThe following python snippet will generate an acceptable random verifier\
    \ and\ncode challenge:\n\n```python\nimport base64\nimport hashlib\nimport os\nimport uuid\n\n# Generate\
    \ a ASCII verifier string -- we are using base64.urlsafe_b64encode\n# here to ensure that the characters\
    \ in the string are valid.  The verifier\n# is NOT REQUIRED to be a base 64 encoded string.  The use\
    \ of base64 here is\n# for convenience ONLY.\nverifier_bytes = os.urandom(32)\ncode_verifier = base64.urlsafe_b64encode(verifier_bytes).rstrip(b'=')\n\
    challenge_bytes = hashlib.sha256(code_verifier).digest()\ncode_challenge = base64.urlsafe_b64encode(challenge_bytes).rstrip(b'=')\n\
    state = str(uuid.uuid4())\n\n# Use the following parameters in the authorize URL.\nurl_parameters\
    \ = {\n    'response_type': 'code',\n    'client_id': MY_CLIENT_ID,\n    'redirect_uri': MY_REDIRECT_URI,\n\
    \    'scope': REQUESTED_SCOPES,\n    'state': state,\n    'code_challenge': code_challenge,\n    'code_challenge_method':\
    \ 'S256',\n}\n```\n\nRemember that the client is REQUIRED to save the `code_verifier` for use in\n\
    step 3.\n\n### Step 2: Get an Authorization Code\nThis step is unchanged from the standard authorization\
    \ code flow.\n\n### Step 3: Trade your Authorization Code for an Access Token\nInstead of using the\
    \ client secret, the client passes the *code verifier*\nthat was generated in step 1.  It also pass\
    \ the `client_id` in the body\ninstead of the `Authorization` header. This avoids possible issues\
    \ with\nlibraries that do not support having an empty password.\n\nThe POST request should look like\
    \ the following:\n\n    POST /oauth2/token HTTP/1.1\n    Host: auth.aweber.com\n    Content-Type:\
    \ application/x-www-form-urlencoded\n\n    grant_type=authorization_code&code=YOUR_AUTHORIZATION_CODE&redirect_uri=YOUR_CALLBACK&client_id=YOUR_CLIENT_ID&code_verifier=CODE_VERIFIER_FROM_STEP_1\n\
    \n### Step 4: Refresh the Access Token\nWith OAuth 2.0, your access tokens will expire after ~2 hours.\
    \ Several <a href='https://help.aweber.com/hc/en-us/articles/360002941894-Do-AWeber-API-access-tokens-expire-'\
    \ target='_blank'>methods for refreshing</a> are possible. If you do not\nrefresh your token, you\
    \ will receive an `access token expired` error.\n\nFor Public clients, you omit the `client_secret`\
    \ from the authorization parameters.\nThe client should include the `client_id` in the body instead\
    \ of using an\n`Authorization` header without a password.\n\n## Have more than one user?\nSometimes\
    \ an integration is used by many AWeber customers.\nYou can have as many users as you like with this\
    \ authentication process.\nJust start at the top and make a new request token for each user of your\n\
    integration. Access tokens are tied to AWeber customer accounts so each\naccount will have a new set\
    \ of tokens. You can store them safely in a\ndatabase and use the account ID to differentiate them.\n\
    \n## Having trouble?\n\nHere are some solutions to common problems:\n\n- Check the documentation for\
    \ your chosen library. Are the calls being made correctly and is everything being passed around as\
    \ it should be?\n- Is your access token still valid? Try refreshing the token and see if that fixes\
    \ any 401 Unauthorized errors.\n- Did you copy your client ID and secret correctly? Make sure the\
    \ ID and secret you’re using are the ones we provided in your developer account.\n- Make sure you’re\
    \ using your AWeber customer account and not your AWeber developer account on the authorization login\
    \ page.\n\nIf you still can’t figure it out we’re always happy to help you work through any errors.\
    \ Send us an email at api@aweber.com and be sure to note any errors or information about the problem\
    \ you’re having.\n"
- name: OAuth 2.0 Examples
  description: "The following examples show how to obtain an access token for an AWeber account using\
    \ Python. For PHP, C#.NET, Ruby, and Node.js versions please see our\n<a href=\"https://github.com/aweber/public-api-examples/blob/master/php/get-access-token\"\
    \ target=\"_blank\">PHP</a>,\n<a href=\"https://github.com/aweber/public-api-examples/blob/master/csharp/AWeber.Examples.GetAccessToken\"\
    \ target=\"_blank\">C#.NET</a>,\n<a href=\"https://github.com/aweber/public-api-examples/blob/master/ruby/get_access_token.rb\"\
    \ target=\"_blank\">Ruby</a>, and\n<a href=\"https://github.com/aweber/public-api-examples/blob/master/node/get-access-token.js\"\
    \ target=\"_blank\">Node.js</a> code samples on GitHub.\n\n## Get An Access Token\nBelow is a python\
    \ example using the `requests_oauthlib` OAuth library to\nobtain an accounts access tokens.\n\nYou\
    \ will need:\n- The `Client ID`, `Client Secret`, and `Redirect URI` from your integration,\navailable\
    \ on the <a href=\"https://labs.aweber.com/apps\" target=\"_blank\">My Apps Page</a>.\n- The list\
    \ of scopes to allow for the customer's account.\n- The `username` and `password` for an AWeber account\
    \ that you want to connect.\n\n```python\nfrom requests_oauthlib import OAuth2Session\n\nAUTHORIZATION_BASE_URL\
    \ = 'https://auth.aweber.com/oauth2/authorize'\nTOKEN_URL = 'https://auth.aweber.com/oauth2/token'\n\
    \nclient_id = '*****'\nclient_secret = '*****'\nredirect_uri = 'YOUR_REDIRECT_URI'\n\n# Sample scopes.\
    \ Put the ones that you need here.\nscope = ['account.read', 'list.read', 'subscriber.read']\n\n#\
    \ Create a new OAuth2Session with your information.\naweber = OAuth2Session(client_id, redirect_uri=redirect_uri,\
    \ scope=scope)\n\n# requests_oauthlib generates a state token for us,\n# but you can optionally specify\
    \ your own.\nauthorization_url, state = aweber.authorization_url(AUTHORIZATION_BASE_URL)\n\n# Open\
    \ link in browser to authorize.\nprint('Go here to authorize:', authorization_url)\n\n# Get the auth\
    \ code from the callback.\nredirect_response = input('Enter the full redirect URL: ')\n\n# Use the\
    \ auth code to get access tokens.\ntoken = aweber.fetch_token(TOKEN_URL, client_secret=client_secret,\n\
    \                           authorization_response=redirect_response)\n\nprint('Access Token:  ',\
    \ token['access_token'])\nprint('Refresh Token: ', token['refresh_token'])\nprint('Token Type:   \
    \ ', token['token_type'])\nprint('Expires In:    ', token['expires_in'])\nprint('Expires At:    ',\
    \ token['expires_at'])\n\nresp = aweber.get('https://api.aweber.com/1.0/accounts')\nresp.raise_for_status()\n\
    print(resp.json())\n\n```\n\nNow you should have your access token and account id from the output.\
    \ The\nlast call in the example is to retrieve the /accounts resource in order to\nretrieve the account\
    \ id. The `account id` and `access token` are needed for every api call.\n\n## Distributing the application's\
    \ source code?\nIf you are making the source code of your integration public, you may not have\na\
    \ means to distribute the client secret securely. If you cannot guarantee the confidentiality\nof\
    \ your client secret, then you are required to use **Proof Key for Code Exchange** as\ndescribed in\
    \ [Public or confidential](#public-or-confidential).\n\nBelow is an example on how to authenticate\
    \ using PKCE with the `requests_oauthlib`\nlibrary.  You will need:\n- The `Client ID`, and `Redirect\
    \ URI` from your integration, available on the\n<a href=\"https://labs.aweber.com/apps\" target=\"\
    _blank\">My Apps Page</a>.\n- The list of scopes to allow for the customer's account.\n- The `username`\
    \ and `password` for an AWeber account that you want to connect.\n\n```python\nimport base64\nimport\
    \ hashlib\nimport os\nimport urllib as parse\n\nfrom requests_oauthlib import OAuth2Session\n\nAUTHORIZATION_BASE_URL\
    \ = 'https://auth.aweber.com/oauth2/authorize'\nTOKEN_URL = 'https://auth.aweber.com/oauth2/token'\n\
    \nclient_id = input('Your client ID:    ')\nredirect_uri = input('Your redirect URI: ')\n\n# Sample\
    \ scopes. Put the ones that you need here.\nscope = ['account.read', 'list.read', 'subscriber.read']\n\
    \n# Create a new OAuth2Session with your information.\naweber = OAuth2Session(client_id, redirect_uri=redirect_uri,\
    \ scope=scope)\n\n# Generate a valid code verifier and derived code challenge.\nverifier_bytes = os.urandom(32)\n\
    code_verifier = base64.urlsafe_b64encode(verifier_bytes).rstrip(b'=')\nchallenge_bytes = hashlib.sha256(code_verifier).digest()\n\
    code_challenge = base64.urlsafe_b64encode(challenge_bytes).rstrip(b'=')\n\n# requests_oauthlib generates\
    \ a state token for us,\n# but you can optionally specify your own.\nauthorization_url, state = aweber.authorization_url(\n\
    \    AUTHORIZATION_BASE_URL, code_challenge=code_challenge,\n    code_challenge_method='S256')\n\n\
    # Open link in browser to authorize.\nprint('Go here to authorize:', authorization_url)\n\n# Get the\
    \ auth code from the callback.\nredirect_response = input('Enter the full redirect URL: ')\n\n# Use\
    \ the auth code to get access tokens.\ntoken = aweber.fetch_token(\n    TOKEN_URL, authorization_response=redirect_response,\
    \ client_secret=None,\n    body=parse.urlencode({'code_verifier': code_verifier}))\n\nprint('Access\
    \ Token:  ', token['access_token'])\nprint('Refresh Token: ', token['refresh_token'])\nprint('Token\
    \ Type:    ', token['token_type'])\nprint('Expires In:    ', token['expires_in'])\nprint('Expires\
    \ At:    ', token['expires_at'])\n\nresp = aweber.get('https://api.aweber.com/1.0/accounts')\nresp.raise_for_status()\n\
    print(resp.json())\n```\n"
- name: OAuth 2.0 Traces
  description: "This section contains low-level HTTP traces of the OAuth 2.0 authorization code\nflow.\
    \  The client IDs, client secrets, authorization codes, and other details are\nfictitious and should\
    \ not be used anywhere else.\n\n<a name=\"confidential-protocol-flow\"></a>\n\n## Confidential protocol\
    \ flow\nThe following HTTP trace shows the entire flow for a Confidential client using the\nfollowing\
    \ parameters:\n\n| Parameter          | Value\n| -------------      | ------\n| Client ID        \
    \  | `N1nwOnhAUyEjJcA0l4eI7dCfYKNVizSDE4Le0J4FRqc`\n| Client secret      | `rSu9NU70xOZFN2ojnWq3tLI49kb8vs84_KZQe1bcJy4`\n\
    | Scopes             | `account.read list.read subscriber.read`\n| Redirect URI       | `https://127.0.0.1/oauth2-callback`\n\
    | State              | `62cdb1ee8a5c40f6ba0d5de1dfa83113`\n| Authorization code | `VhXKzYi5paFfs1aYqgikSw`\n\
    \n**The web application initiates the authorization flow.**\n```\nGET /oauth2/authorize?response_type=code&client_id=N1nwOnhAUyEjJcA0l4eI7dCfYKNVizSDE4Le0J4FRqc&redirect_uri=https%3A%2F%2F127.0.0.1%2Foauth2-callback&scope=account.read+list.read+subscriber.read&state=62cdb1ee8a5c40f6ba0d5de1dfa83113\
    \ HTTP/1.1\nHost: auth.aweber.com\n\nHTTP/1.1 200 OK\nContent-Type: text/html\n\n<html>.... authorization\
    \ form ....</html>\n```\n\n**The user authenticates and authorizes the application.**\n\nThe authorization\
    \ form action initiates a POST to the AWeber authorization\nserver which redirects the user to the\
    \ application-specified redirect URL.\n```\nPOST /oauth2/authorize HTTP/1.1\nHost: auth.aweber.com\n\
    Content-Type: application/x-www-form-urlencoded\n\nparameters-omitted\n\nHTTP/1.1 302 Found\nLocation:\
    \ https://127.0.0.1/oauth2-callback?state=62cdb1ee8a5c40f6ba0d5de1dfa83113&code=VhXKzYi5paFfs1aYqgikSw\n\
    ```\n\n**The external application exchanges the authorization code for an access token.**\n```\nPOST\
    \ /oauth2/token HTTP/1.1\nHost: auth.aweber.com\nContent-Type: application/x-www-form-urlencoded\n\
    Accept: application/json\nAuthorization: Basic REDACTED_CLIENT_ID_COLON_SECRET\n\
    \ngrant_type=authorization_code&code=VhXKzYi5paFfs1aYqgikSw&redirect_uri=https%3A%2F%2F127.0.0.1%2Foauth2-callback\n\
    \nHTTP/1.1 200 OK\nContent-Type: application/json\nCache-Control: no-store\nPragma: no-cache\n\n{\n\
    \  \"access_token\": \"uPloUGQL689I9qYk1nkwjb2yZirWnoja\",\n  \"refresh_token\": \"XF2OZN3dmSSphGimcoNbq839UGT0lGo2\"\
    ,\n  \"expires_in\": 7200,\n  \"state\": \"62cdb1ee8a5c40f6ba0d5de1dfa83113\"\n}\n```\n\n<a name=\"\
    public-protocol-flow\"></a>\n\n## Public protocol flow\n\nThe following HTTP trace shows the entire\
    \ flow for a Public client using the\nfollowing parameters:\n\n| Parameter          | Value\n| -------------\
    \      | ------\n| Client ID          | `N1nwOnhAUyEjJcA0l4eI7dCfYKNVizSDE4Le0J4FRqc`\n| Code verifier\
    \      | `HLBvz1g_bbLZ31kjvlXJ5Rl0W1GgxU8rjYJdQIIEH_Y`\n| Scopes             | `account.read list.read\
    \ subscriber.read`\n| Redirect URI       | `https://127.0.0.1/oauth2-callback`\n| State          \
    \    | `62cdb1ee8a5c40f6ba0d5de1dfa83113`\n| Authorization code | `VhXKzYi5paFfs1aYqgikSw`\n\n**The\
    \ web application initiates the authorization flow.**\n```\nGET /oauth2/authorize?response_type=code&client_id=N1nwOnhAUyEjJcA0l4eI7dCfYKNVizSDE4Le0J4FRqc&code_challenge=-oiamT7-EafhQ27P3V9cGEtu3crg731kec-GWhgrTV8&code_challenge_method=S256&redirect_uri=https%3A%2F%2F127.0.0.1%2Foauth2-callback&scope=account.read+list.read+subscriber.read&state=62cdb1ee8a5c40f6ba0d5de1dfa83113\
    \ HTTP/1.1\nHost: auth.aweber.com\n\nHTTP/1.1 200 OK\nContent-Type: text/html\n\n<html>.... authorization\
    \ form ....</html>\n```\nThe authorization form action initiates a POST to the AWeber authorization\n\
    server which redirects the user to the application-specified redirect URL.\n\n**The user authenticates\
    \ and authorizes the application.**\n```\nPOST /oauth2/authorize HTTP/1.1\nHost: auth.aweber.com\n\
    Content-Type: application/x-www-form-urlencoded\n\nparameters-omitted\n\nHTTP/1.1 302 Found\nLocation:\
    \ https://127.0.0.1/oauth2-callback?state=62cdb1ee8a5c40f6ba0d5de1dfa83113&code=VhXKzYi5paFfs1aYqgikSw\n\
    ```\n\n**The external application exchanges the authorization code for an access token.**\n```\nPOST\
    \ /oauth2/token HTTP/1.1\nHost: auth.aweber.com\nContent-Type: application/x-www-form-urlencoded\n\
    Accept: application/json\n\ngrant_type=authorization_code&code=VhXKzYi5paFfs1aYqgikSw&code_verifier=HLBvz1g_bbLZ31kjvlXJ5Rl0W1GgxU8rjYJdQIIEH_Y&client_id=N1nwOnhAUyEjJcA0l4eI7dCfYKNVizSDE4Le0J4FRqc\n\
    \nHTTP/1.1 200 OK\nContent-Type: application/json\nCache-Control: no-store\nPragma: no-cache\n\n{\n\
    \  \"access_token\": \"uPloUGQL689I9qYk1nkwjb2yZirWnoja\",\n  \"refresh_token\": \"XF2OZN3dmSSphGimcoNbq839UGT0lGo2\"\
    ,\n  \"expires_in\": 7200,\n  \"state\": \"62cdb1ee8a5c40f6ba0d5de1dfa83113\"\n}\n```\n"
- name: OAuth 2.0 Reference
  description: 'These endpoints are used to authenticate with the api. The AWeber API uses

    the OAuth 2.0 model to handle authentication. OAuth is a standardized way

    for services to grant permission on a user''s behalf to another application,

    without exposing their credentials (ie - username and password).

    '
- name: Developer Changelog
  description: "We have an email newsletter just for developers. It contains information about new features\
    \ and upcoming changes to the API.\nIt’s a great way to stay informed. Check out previous newsletters\
    \ <a href=\"https://archive.aweber.com/awlabs\" target=\"_blank\">here</a>.\nWhen you sign up for\
    \ a developer account you are automatically subscribed. If you previously\nunsubscribed or would like\
    \ to have another email address receive updates, feel free to sign up here:\n<a href=\"https://forms.aweber.com/form/70/958429970.htm\"\
    \ target=\"_blank\">AWeber Developer Newsletter</a>\n<br><br>\n\n## Webhooks\n\n### **Version 1.3.0**\n\
    ------------\n#### Release Date: Jun 21, 2022\n- Webhook support no longer requires a request to the\
    \ API team.  They can be enabled for any OAuth 2 application on labs.aweber.com.\n\n### **Version\
    \ 1.2.1**\n------------\n#### Release Date: Apr 20, 2020\n- Moved <a href='#tag/Webhooks'>Webhooks\
    \ documentation</a> to the API site.\n\n### **Version 1.2.0**\n------------\n#### Release Date: Apr\
    \ 14, 2020\n- Added support for imports and large batches.\n\n### **Version 1.1.0**\n------------\n\
    #### Release Date: Jan 3, 2020\n- Added webhooks for `subscriber.subscribed` and `subscriber.unsubscribed`\
    \ events.\n\n### **Version 1.0.0**\n------------\n#### Release Date: Nov 26, 2019\n- Added webhooks\
    \ support. The first webhook offered is a `subscriber.added` event.\n\n## API\n\n### **Version 1.4.0**\n\
    #### Release Date: September 5, 2025\n- Introduces **beta endpoints** accessible at `api.aweber.com/2.0-beta/`.\
    \ These endpoints are early-access versions of the upcoming v2 API and primarily focus on using UUIDs\
    \ instead of numeric IDs. The beta endpoints allow developers to preview and test new features and\
    \ changes before the official v2 release.\n\n### **Version 1.3.1**\n#### Release Date: August 22,\
    \ 2025\n- Adds support for retrieving detailed click data by passing the `detailed=true` query parameter\
    \ to the broadcast clicks endpoint.\n\n### **Version 1.3.0**\n#### Release Date: May 6, 2025\n- Removes\
    \ legacy campaign link and click endpoints.\n\n### **Version 1.2.3**\n------------\n#### Release Date:\
    \ Dec 27, 2023\n- Adds [410 error response][64] to list of possible API Responses\n- Replaces documentation\
    \ links in code examples from `labs.aweber.com/docs/troubleshooting`\n  to use `api.aweber.com`\n\n\
    ### **Version 1.2.2**\n------------\n#### Release Date: Oct 12, 2023\n- Adds additional 403 error\
    \ response to the [Add Subscriber][7] endpoint\n\n### **Version 1.2.1**\n------------\n#### Release\
    \ Date: Dec 14, 2022\n- Add `company` field to the [Account][51] endpoints.\n\n### **Version 1.2.0**\n\
    ------------\n#### Release Date: Dec 15, 2021\n- Add [Purchase][63] creation endpoint. This allows\
    \ for the creation of a tracked event (purchase) and a\n  subscriber to be made.\n\n### **Version\
    \ 1.1.1**\n------------\n#### Release Date: Nov 17, 2021\n- Add `uuid` field to the [Subscriber][5]\
    \ entry endpoint response.\n\n### **Version 1.1.0**\n------------\n#### Release Date: June 16, 2021\n\
    - Replace usage of the `subscriber.read-extended` scope with `subscriber.read`.  If you were requesting\
    \ `subscriber.read-extended` then you should\n  change your application to request the `subscriber.read`\
    \ scope instead.  Existing tokens already that have the `subscriber.read-extended`\n  scope have already\
    \ been granted `subscriber.read` implicitly.  The `subscriber.read-extended` scope can still be requested;\
    \ however it is no\n  longer required and is the same as requesting the `subscriber.read` scope.\n\
    \n### **Version 1.0.67**\n------------\n#### Release Date: Mar 3, 2021\n- Remove `http_etag` field\
    \ from the [Campaigns][62] endpoints.\n- Add `vapid_public_key` field to the [Lists][44] endpoints.\n\
    \n### **Version 1.0.66**\n------------\n#### Release Date: Feb 19, 2021\n- Require pagination on [Get\
    \ webforms for account][58] endpoint; this changes the response body.\n- Require pagination on [Get\
    \ split tests for account][59] endpoint; this changes the response body.\n\n### **Version 1.0.65**\n\
    ------------\n#### Release Date: Feb 18, 2021\n- Add `uuid` field to the [Accounts][51] endpoints.\n\
    \n### **Version 1.0.64**\n------------\n#### Release Date: Sep 25, 2020\n- Add links to click and\
    \ open collections in the [Get broadcast entry][11]\n\n\n### **Version 1.0.63**\n------------\n####\
    \ Release Date: Sep 21, 2020\n- Add the following endpoints to the API:\n    - [GET Broadcast opens][60]\n\
    \    - [GET Broadcast clicks][61]\n\n### **Version 1.0.62**\n------------\n#### Release Date: Sep\
    \ 15, 2020\n- Ad tracking field is now normalized to lower case in the following endpoints:\n    -\
    \ [POST Subscriber][7]\n    - [PATCH Subscriber][6]\n    - [PATCH Subscriber by email][54]\n\n###\
    \ **Version 1.0.61**\n------------\n#### Release Date: Jul 30, 2020\n- Pagination was added to [Get\
    \ webforms for account][58]\n- Pagination was added to [Get split tests for account][59]\n\n### **Version\
    \ 1.0.60**\n------------\n#### Release Date: Jun 11, 2020\n- Add [Landing Pages][55] to the API:\n\
    \    - Get collection of [Landing Pages][56] for a [List][16].\n    - Get individual [Landing Page][57].\n\
    \    - Link to Landing Pages collection added to [Lists][44] endpoints.\n\n### **Version 1.0.59**\n\
    ------------\n#### Release Date: May 8, 2020\n- Modify the behavior of the `ws.size` and `ws.start`\
    \ parameters to only accept valid values.\n    - `ws.size` only accepts integer values between 1 and\
    \ 100.\n    - `ws.start` only accepts integer values greater than or equal to 0.\n    - A `400 WebServiceError`\
    \ will be returned for all invalid values.\n\n### **Version 1.0.58**\n------------\n#### Release Date:\
    \ Apr 23, 2020\n- Add new endpoint to [PATCH Subscriber by email][54]\n\n### **Version 1.0.57**\n\
    ------------\n#### Release Date: Apr 13, 2020\n- Add new endpoint to [DELETE Subscriber by email][53]\n\
    \n### **Version 1.0.56**\n------------\n#### Release Date: Mar 5, 2020\n- Add links to Ruby code examples.\n\
    \n### **Version 1.0.55**\n------------\n#### Release Date: Feb 14, 2020\n- Add links to Node.js code\
    \ examples.\n\n### **Version 1.0.54**\n------------\n#### Release Date: Jan 17, 2020\n- Added `update_existing`\
    \ parameter to the [POST Subscriber][7] endpoint. Please see the endpoint documentation for details.\n\
    \n### **Version 1.0.53**\n------------\n#### Release Date: Dec 10, 2019\n- Added `uuid` field to the\
    \ [Lists][44] endpoints.\n\n### **Version 1.0.52**\n------------\n#### Release Date: Oct 17, 2019\n\
    - Updated [GET Broadcasts][9] and [GET Total Broadcast][14] endpoints to return sending broadcasts\
    \ under the sent status.\n\n### **Version 1.0.51**\n------------\n#### Release Date: Sep 5, 2019\n\
    - Updated [Webform and Webform Component][52] endpoints to return tags associated with a webform.\n\
    \n### **Version 1.0.50**\n------------\n#### Release Date: Aug 7, 2019\n- Add cURL code samples to\
    \ endpoints.\n\n### **Version 1.0.49**\n------------\n#### Release Date: Jul 16, 2019\n- Add links\
    \ to C#.NET code examples.\n\n### **Version 1.0.48**\n------------\n#### Release Date: Jul 2, 2019\n\
    - The `body_amp` field in the [Broadcasts][50] endpoints is no longer in BETA.\n\n### **Version 1.0.49**\n\
    ------------\n#### Release Date: Jun 27, 2019\n- Updated OAuth 2.0 to allow passing an authorization\
    \ code out-of-band using a `redirect_uri` value of `urn:ietf:wg:oauth:2.0:oob`.\n  Documentation for\
    \ it can be found in the [Authentication Overview][45].\n\n### **Version 1.0.48**\n------------\n\
    #### Release Date: Jun 21, 2019\n- Added `analytics_src` to the [Accounts][51] endpoints. `analytics_src`\
    \ is used for event tracking on a website. See our\n[knowledge base](https://help.aweber.com/hc/en-us/articles/204029756)\
    \ article for more details.\n\n### **Version 1.0.47**\n------------\n#### Release Date: Jun 17, 2019\n\
    - [Adding subscribers][7] may now respond with a 403 due to abuse mitigation\n\n### **Version 1.0.46**\n\
    ------------\n#### Release Date: Jun 17, 2019\n- Add `tags_not_in` as a search filter for [Find Subscribers\
    \ for List][1] and [Find Subscribers for Account][2]\n\n### **Version 1.0.45**\n------------\n####\
    \ Release Date: May 23, 2019\n- Add `body_amp` to [Broadcasts][50] endpoints as a BETA feature.\n\
    \    - Contact [api@aweber.com](mailto:api@aweber.com?subject=AWeber%20AMP%20for%20Email%20Beta) before\
    \ using this field.\n- Block the [adding of subscribers][7] if an account is on hold.\n\n### **Version\
    \ 1.0.44**\n------------\n#### Release Date: May 15, 2019\n- Add [Segments][47] to the API:\n    -\
    \ Get collection of [Segments][48] for a [List][16].\n    - Get individual [Segment][49].\n    - Link\
    \ to Segments collection added to [Lists][44] endpoints.\n    - [Create a Broadcast][10] and specify\
    \ a Segment to send to.\n    - [Update a Broadcast][8] and specify a Segment to send to.\n\n### **Version\
    \ 1.0.43**\n------------\n#### Release Date: May 10, 2019\n- Add support for [**public** OAuth 2.0\
    \ clients][46] using [Proof Key for Code Exchange (PKCE)](https://tools.ietf.org/html/rfc7636)\n-\
    \ Add OAuth2 revoke endpoint documentation\n\n### **Version 1.0.42**\n------------\n#### Release Date:\
    \ Apr 15, 2019\n- Released support for [OAuth 2.0][45] along with updated API documentation, code\
    \ samples, and knowledge base articles.\n\n### **Version 1.0.41**\n------------\n#### Release Date:\
    \ Feb 26, 2019\n- [Find Subscribers for List][1] can now accept query parameter `sort_key` with value\
    \ `subscribed_at` or `unsubscribed_at`.\nThis will sort the results by that key and the direction\
    \ specified by `sort_order`.\n\n### **Version 1.0.40**\n------------\n#### Release Date: Feb 21, 2019\n\
    - [Update broadcast][8] Added `BroadcastSchedulingError` when updating fails due to broadcast status\
    \ or the account being locked.\n- [Deleting a broadcast][12] Added `BroadcastSchedulingError` when\
    \ deleting fails due to broadcast status or the account being locked.\n- New broadcast statuses were\
    \ added: `admin_hold` and `sending`. This affects the following endpoints:\n\t- [Get broadcasts][9]\n\
    \t- [Create broadcast][10]\n\t- [Get broadcast][11]\n\t- [Update broadcast][8]\n\t- [Delete broadcast][12]\n\
    \t- [Cancel scheduled broadcast][13]\n\t- [Schedule broadcast][15]\n\n### **Version 1.0.39**\n------------\n\
    #### Release Date: Jan 3, 2019\n- [Find Subscribers for List][1] can now accept `subscribed_before`,\
    \ `subscribed_after`,\n`unsubscribed_before`, and `unsubscribed_after` as search parameters.\n- [Update\
    \ Broadcast][8] can now accept `include_lists` and `exclude_lists` as update parameters.\n\n### **Version\
    \ 1.0.38**\n------------\n#### Release Date: Dec 28, 2018\n- [Find Subscribers for Account][2] can\
    \ now accept `subscribed_before`, `subscribed_after`,\n`unsubscribed_before`, and `unsubscribed_after`\
    \ as search parameters.\n\n### **Version 1.0.37**\n------------\n#### Release Date: Dec 19, 2018\n\
    - [Deleting a broadcast][12] that does not exist will now return a 204.\n\n### **Version 1.0.36**\n\
    ------------\n#### Release Date: Dec 11, 2018\n- Microsecond will be stripped from `scheduled_for`\
    \ in [Schedule Broadcast][15] request.\n- [Canceling a broadcast][13] that is not currently scheduled\
    \ will now return a 200.\n\n### **Version 1.0.35**\n------------\n#### Release Date: Nov 16, 2018\n\
    - Add strict_custom_fields option to [Add Subscriber][7] and [Update Subscriber][6].\n\n### **Version\
    \ 1.0.34**\n------------\n#### Release Date: Nov 07, 2018\n- Add broadcast links to the [list][44]\
    \ entries.\nThere are three new links that were added to the list collection,\nlist entry and the\
    \ list find responses: `draft_broadcasts_link`, `scheduled_broadcasts_link` and `sent_broadcasts_link`.\n\
    \n### **Version 1.0.33**\n------------\n#### Release Date: Sep 10, 2018\n- Add list_link and list_name\
    \ to the [find][1] and [findSubscribers][2] endpoints. This will show the list info for the subscribers\
    \ returned.\n\n\n### **Version 1.0.32**\n------------\n#### Release Date: May 2, 2018\n- Add unsubscribed_at\
    \ to the [find][1] and [findSubscribers][2] endpoints. This will show the list info for the subscribers\
    \ returned.\n\n\n### **Version 1.0.31**\n------------\n#### Release Date: Jan 19, 2018\n- Add a new\
    \ endpoint to [get the most popular tags for a list][3].\n\n### **Version 1.0.30**\n------------\n\
    #### Release Date: Jan 10, 2018\n- Add tags to the response body of the [findSubscribers][2] endpoint.\n\
    - Add tags to the findSubscribers [findSubscribers][2] endpoint to allow searching on a tag as a parameter.\n\
    \n### **Version 1.0.29**\n------------\n#### Release Date: Dec 22, 2017\n- Add tags to the response\
    \ body of the [find][1] endpoint.\n- Add tags to the [find][1] endpoint to allow searching on a tag\
    \ as a parameter.\n- Update subscriber subscription_method value from \"signup form\" to \"webform\"\
    \ to match the [Subscriber Collection][4] and [Subscriber Entry][5] endpoints.\n- Remove http_etag\
    \ field from entries in the [Subscriber Collection][1] find endpoint.\n\n### **Version 1.0.28**\n\
    ------------\n#### Release Date: Dec 14, 2017\n- Add tags to the response body of the [GET Subscribers][4]\
    \ endpoint.\n\n### **Version 1.0.27**\n------------\n#### Release Date: Jul 22, 2016\n- Update the\
    \ sort order of the [Subscriber Collection][4] endpoint to be the order in which the subscribers were\
    \ added to a list.\n\n### **Version 1.0.26**\n------------\n#### Release Date: Jul 8, 2016\n- Add\
    \ tags to the [PATCH Subscriber][6] endpoint.\n- Add tags to the [GET Subscriber][5] endpoint.\n\n\
    ### **Version 1.0.25**\n------------\n#### Release Date: Apr 8, 2016\n- Add tags to the [POST Subscriber][7]\
    \ endpoint\n- Tags are currently not supported in the [GET Subscriber][5] endpoints, but is coming\
    \ soon!\n\n### **Version 1.0.25**\n------------\n#### Release Date: Nov 6, 2015\n- Sorted and documented\
    \ the sort order for the following collection responses:\n    - Broadcasts\n    - Campaigns\n    -\
    \ Clicks\n    - Components\n    - Custom Fields\n    - Docs\n    - Integrations\n    - Links\n   \
    \ - Lists\n    - Messages\n    - Opens\n    - Stats\n    - Subscribers\n    - Tracked Events\n   \
    \ - Web Form Split Tests\n    - Web Forms\n- Documented the pagination control parameters ws.size\
    \ and ws.start.\n- Clarified the use of the term campaigns in the API as distinct from the <a href=\"\
    https://www.aweber.com/email-automation.htm\" target=\"_blank\">Campaigns</a> email automation platform.\n\
    \n### **Version 1.0.24**\n------------\n#### Release Date: Apr 24, 2015\n- Changed Schedule Broadcasts\
    \ permission to <a href=\"https://help.aweber.com/hc/en-us/articles/360002999053\" target=\"_blank\"\
    >Manage Email</a>.\n- Add the [Update Broadcast][8] endpoint.\n\n### **Version 1.0.23**\n------------\n\
    #### Release Date: Mar 24, 2015\n- Add [POST Broadcast][10] endpoint.\n- Add [DELETE Broadcast][12]\
    \ endpoint.\n- Add [Cancel Broadcast][13] endpoint.\n- Add [GET Broadcast][11] endopint.\n- Add [GET\
    \ Broadcasts][9] endopint.\n\n### **Version 1.0.22**\n------------\n#### Release Date: Nov 10, 2014\n\
    - Add the ability to [Schedule Broadcast][15].\n- Add schedule broadcast permissions to application\
    \ permissions.\n\n### **Version 1.0.21**\n------------\n#### Release Date: Jun 23, 2014\n- Return\
    \ unique_list_id attribute of a [List][16].\n- Update API reference docs for Lists.\n\n### **Version\
    \ 1.0.20**\n------------\n#### Release Date: Jun 11, 2014\n- Return customized name of a list as the\
    \ value of the name attribute of the [List][16].\n- Modify [find][17] method of List collection to\
    \ search for lists by both the unique and customized name.\n- Update API reference docs for Lists.\n\
    \n### **Version 1.0.19**\n------------\n#### Release Date: Jan 20, 2014\n- Fix pagination bug in the\
    \ request for the [Subscriber Collection][4]. The data is now ordered by lead_id.\n- Fix pagination\
    \ bug in the request for the [Custom Field Collection][18]. The data is now ordered by description_id.\n\
    - Fix pagination bug in the request for the [Integration Collection][19]. The data is now ordered\
    \ by vendor_id.\n- Fix pagination bug in the request for the [Web Forms Collection][20]. The data\
    \ is now ordered by web_form_id.\n- Fix pagination bug in the request for the [Split Tests Collection][21].\
    \ The data is now ordered by web_form_split_test_id.\n- Fix pagination bug in the request for the\
    \ daily subscription activity numbers found in the following requests:\n    - [Links Collection][22]\n\
    \    - [Messages Collection][23]\n    - [Stats Collection][24]\n    - [Custom Field Collection][18]\n\
    \    - Docs Collection\n    - [Lists Collection][25]\n    - [Subscribers Collection][4]\n    - [Web\
    \ Forms Collection][20]\n    - [Split Tests Collection][21]\n\n### **Version 1.0.18**\n------------\n\
    #### Release Date: Mar 25, 2013\n- Add a new API Documentation collection.\n- Update labs docs with\
    \ better API Documentation.\n- Performance Tweaks.\n\n### **Version 1.0.17**\n------------\n#### Release\
    \ Date: Jan 3, 2013\n- Add [Campaign Stats][24] to the [Broadcast Campaign][26] endpoint.\n    - Clicks:\n\
    \        - total clicks.\n        - unique clicks.\n        - clicks over time (first 24 hours).\n\
    \        - clicks over time (first 2 weeks).\n        - top 10 clicked links.\n    - Opens:\n    \
    \    - total opens.\n        - unique opens.\n        - opens over time (first 24 hours).\n      \
    \  - opens over time (first 2 weeks).\n        - top 10 subscribers who opened your message the most.\n\
    \    - Sales:\n        - total sales (number of sales).\n        - total sales (dollar amount).\n\
    \        - sales over time (first 24 hours).\n        - sales over time (first 2 weeks).\n       \
    \ - top 10 grossing subscribers who purchased from you after receiving your broadcast.\n    - Unsubscribed\
    \ Subscribers:\n        - total unsubscribed.\n        - unsubscribed over time (first 24 hours).\n\
    \        - unsubscribed over time (first 2 weeks).\n    - Web Hits:\n        - web hits over time\
    \ (first 24 hours).\n        - web hits over time (first 2 weeks).\n        - top 10 web hits that\
    \ were clicked.\n\n### **Version 1.0.16**\n------------\n#### Release Date: Dec 10, 2012\n- Add ability\
    \ to specify last_followup_message_number_sent when performing a [Subscriber Move][27] to a different\
    \ list.\n    - This enables an app to move a subscriber and control how they receive follow up messages.\n\
    \n### **Version 1.0.15**\n------------\n#### Release Date: Nov 19, 2012\n- Update docs related to\
    \ accepted <a target=\"_blank\" href=\"/#tag/FAQ\">Character Encodings</a>.\n- Various maintenance\
    \ fixes.\n\n### **Version 1.0.14**\n------------\n#### Release Date: Aug 30, 2012\n- Add the ability\
    \ to [Find a Campaign][28] by campaign type.\n    - This allows you to query the api for followups\
    \ or broadcasts.\n    - Refer to the <a target=\"_blank\" href=\"https://github.com/aweber/public-api-examples\"\
    >Code Samples</a> for examples.\n- Add additional search parameters for the [find][1] and [findSubscribers][2]\
    \ endpoints.\n    - Most attributes including custom fields are now searchable.\n\n### **Version 1.0.13**\n\
    ------------\n#### Release Date: Aug 22, 2012\n- Add the ability to [Find Lists][17] by name.\n  \
    \  - Refer to the <a target=\"_blank\" href=\"https://github.com/aweber/public-api-examples\">Code\
    \ Samples</a> for examples.\n- Change default sort order of the [Campaigns Collection][29] endpoint.\n\
    \    - Followups are sorted in order of the message_number attribute.\n    - Broadcasts are sorted\
    \ in descending order by the sent_at attribute.\n\n### **Version 1.0.12**\n------------\n#### Release\
    \ Date: Nov 16, 2011\n- Add the ability to [POST Subscriber][7] to a list.\n    - You can now add\
    \ Subscribers via the API!\n    - Please refer to our <a class=\"php\" href=\"https://github.com/aweber/public-api-examples/tree/master/php/manage-subscriber\"\
    \ target=\"_blank\">php</a> and <a class=\"python\" href=\"https://github.com/aweber/public-api-examples/tree/master/python/manage-subscriber\"\
    \ target=\"_blank\">python</a> code samples for examples of adding Subscribers.</p>\n\n### **Version\
    \ 1.0.11**\n------------\n#### Release Date: Sep 22, 2011\n- Add additional search criteria for the\
    \ [find][1] and [findSubscribers][2] endpoints.\n    - You can now search for all Subscribers on all\
    \ Lists and filter based on the status, subscription_method, unsubscribe_method, email, or ad_tracking\
    \ fields.\n- Optimize the following resources for performance and speed:\n    - [Campaign Collection][29]\n\
    \    - [Campaign Entry][26]\n    - [Subscriber Activity][30]\n\n### **Version 1.0.10**\n------------\n\
    #### Release Date: Jul 26, 2011\n- Optimize the following resources for performance and speed:\n \
    \   - [Subscriber Collection][4]\n    - [Subscriber Entry][5]\n\n### **Version 1.0.9**\n------------\n\
    #### Release Date: Jul 11, 2011\n- Fix formatting consistency issue for timestamps.\n- Fix bug in\
    \ the \"type\" attribute for [Webforms][31] and [Components][32].\n- Fix <a target=\"_blank\" href=\"\
    https://api.aweber.com#ratelimiterror\">error message</a> for throttled API requests.\n\n### **Version\
    \ 1.0.8**\n------------\n#### Release Date: Jun 29, 2011\n- Add total_subscribers, total_subscribed,\
    \ total_unsubscribed, total_subscribers_subscribed_today, and total_subscribers_subscribed_yesterday\
    \ to the [Subscriber][5] statistics.\n- Fix inconsistency with date formatting.\n\n### **Version 1.0.7**\n\
    ------------\n#### Release Date: Jun 1, 2011\n- Add [Find Subscribers][2] endpoint for accounts.\n\
    \n### **Version 1.0.6**\n------------\n#### Release Date: May 23, 2011\n- Add application/json responses\
    \ for all 400 and 500 HTTP statuses\n\n### **Version 1.0.5**\n------------\n#### Release Date: May\
    \ 11, 2011\n- Add javascript_source_link to [Webforms][31], [Split Tests][33], and [Components][32].\n\
    - Add html_source_link to [Webforms][31] and [Components][32].\n\n### **Version 1.0.4**\n------------\n\
    #### Release Date: Apr 20, 2011\n- Fix various bugs the [Subscriber Entry][5] and other resources.\n\
    - Increas API performance for Subscribers and Campaigns.\n\n### **Version 1.0.3**\n------------\n\
    #### Release Date: Mar 31, 2011\n- Add a [Custom Field Collection][18] to [Lists][16].\n- Add the\
    \ ability to [GET Custom Fields][18].\n- Add the ability to [PATCH Custom Fields][36].\n- Add the\
    \ ability to [DELETE Custom Fields][37].\n- Add the ability to [POST Custom Fields][34].\n- Add the\
    \ ability to maintain [Custom Fields][18] belonging to a list\n- For more information, please refer\
    \ to the the <a target=\"_blank\" href=\"/#tag/Accounts\">reference documentation</a> and the following\
    \ kb articles:\n    - <a target=\"_blank\" href=\"https://help.aweber.com/hc/en-us/articles/204027516-How-Do-I-Collect-More-Than-Just-Name-and-Email-Address-\"\
    \ >How do custom fields work?</a>\n    - <a target=\"_blank\" href=\"https://help.aweber.com/hc/en-us/articles/204027796-Why-Could-Changing-My-Custom-Field-Names-Cause-Problems-\"\
    >Why could changing my custom field names cause problems?</a>\n\n### **Version 1.0.2**\n------------\n\
    #### Release Date: Mar 16, 2011\n- Add the ability to [Find Subscribers][1] by email address.\n- Add\
    \ the ability to [Move Subscribers][27] to another list on the same account.\n    - Subscriber is\
    \ unsubscribed from original List\n    - Subscriber is subscribed to the new List with the original\
    \ Subscriber\"s data.\n- Add the additional attributes to [Subscriber Entry][5].\n    - Unsubscribe\
    \ Method\n\n### **Version 1.0.1**\n------------\n#### Release Date: Jan 13, 2011\n- Add the ability\
    \ to modify and delete subscriber data\n- Add additional attributes based on ip_address to the [Subscriber\
    \ Entry][5]:\n    - Country\n    - Region\n    - City\n    - Postal Code\n    - Latitude\n    - Longitude\n\
    \    - DMA Code\n    - Area Code\n    - Last Followup Message Number\n    - Custom Field Key/Value\
    \ Pairs\n- Allow modification of Subscriber attributes thru [POST Subscriber][7] endpoint.\n    -\
    \ Ad Tracking\n    - Last Followup Message Number\n    - Name\n    - Email Address\n    - Status (Subscribed\
    \ or Unsubscribed)\n    - Misc Notes</span>\n\n### **Version 1.0.0**\n------------\n#### Release Date:\
    \ Nov 17, 2010\n- Initial API release (read-only)\n- Add read-only access for the following:\n   \
    \ - [Accounts][38]\n    - [Campaigns][29]\n    - [Clicks][39]\n    - [Components][40]\n    - [Links][41]\n\
    \    - [Lists][25]\n    - [Messages][23]\n    - [Opens][42]\n    - [Subscribers][4]\n    - [Tracked\
    \ Events][43]\n    - [Webforms][20]\n    - [Split Tests][21]\n\n[1]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers%3Fws.op%3Dfind%2Fget\
    \ \"find\"\n[2]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D%3Fws.op%3DfindSubscribers%2Fget\
    \ \"findSubscribers\"\n[3]: #tag/Lists%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1tags%2Fget\
    \ \"getTags\"\n[4]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers%2Fget\
    \ \"getSubscribers\"\n[5]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers~1%7BsubscriberId%7D%2Fget\
    \ \"getSubscriber\"\n[6]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers~1%7BsubscriberId%7D%2Fpatch\
    \ \"patchSubscriber\"\n[7]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers%2Fpost\
    \ \"postSubscriber\"\n[8]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D%2Fput\
    \ \"putBroadcast\"\n[9]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts%2Fget\
    \ \"getBroadcasts\"\n[10]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts%2Fpost\
    \ \"postBroadcast\"\n[11]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D%2Fget\
    \ \"getBroadcast\"\n[12]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D%2Fdelete\
    \ \"deleteBroadcast\"\n[13]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D~1cancel%2Fpost\
    \ \"postCancelBroadcast\"\n[14]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1total%2Fget\
    \ \"getTotalBroadcasts\"\n[15]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D~1schedule%2Fpost\
    \ \"postScheduleBroadcast\"\n[16]: #tag/Lists%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D%2Fget\
    \ \"getList\"\n[17]: #tag/Lists%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists%3Fws.op%3Dfind%2Fget\
    \ \"getFindList\"\n[18]: #tag/Custom-Fields%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1custom_fields%2Fget\
    \ \"getCustomFields\"\n[19]: #tag/Integrations%2Fpaths%2F~1accounts~1%7BaccountId%7D~1integrations%2Fget\
    \ \"getIntegrations\"\n[20]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_forms%2Fget\
    \ \"getListWebforms\"\n[21]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_form_split_tests%2Fget\
    \ \"getSplitTests\"\n[22]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BcampaignId%7D~1links%2Fget\
    \ \"getLinks\"\n[23]: #tag/Messages%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BmessageId%7D~1messages%2Fget\
    \ \"getMessages\"\n[24]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1b%7BcampaignId%7D~1stats%2Fget\
    \ \"getStats\"\n[25]: #tag/Lists%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists%2Fget \"getLists\"\n\
    [26]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BcampaignId%7D%2Fget\
    \ \"getCampaign\"\n[27]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers~1%7BsubscriberId%7D%2Fpost\
    \ \"postSubMove\"\n[28]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns%3Fws.op%3Dfind%2Fget\
    \ \"getFindCampaign\"\n[29]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns%2Fget\
    \ \"getCampaigns\"\n[30]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers~1%7BsubscriberId%7D%3Fws.op%3DgetActivity%2Fget\
    \ \"getSubscriberActivity\"\n[31]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_forms~1%7BwebformId%7D%2Fget\
    \ \"getWebform\"\n[32]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_form_split_tests~1%7BsplitTestId%7D~1components~1%7BsplitTestComponentId%7D%2Fget\
    \ \"getComponent\"\n[33]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_form_split_tests~1%7BsplitTestId%7D%2Fget\
    \ \"getSplitTest\"\n[34]: #tag/Custom-Fields%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1custom_fields%2Fpost\
    \ \"postCustomField\"\n[35]: #tag/Custom-Fields%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1custom_fields~1%7BcustomFieldId%7D%2Fget\
    \ \"getCustomField\"\n[36]: #tag/Custom-Fields%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1custom_fields~1%7BcustomFieldId%7D%2Fpatch\
    \ \"patchCustomField\"\n[37]: #tag/Custom-Fields%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1custom_fields~1%7BcustomFieldId%7D%2Fdelete\
    \ \"deleteCustomField\"\n[38]: #tag/Accounts%2Fpaths%2F~1accounts%2Fget \"getAccounts\"\n[39]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BcampaignId%7D~1links~1%7BlinkId%7D~1clicks%2Fget\
    \ \"getClicks\"\n[40]: #tag/Webforms%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1web_form_split_tests~1%7BsplitTestId%7D~1components%2Fget\
    \ \"getComponents\"\n[41]: #tag/Campaigns%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BcampaignId%7D~1links%2Fget\
    \ \"getLinks\"\n[42]: #tag/Messages%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BmessageId%7D~1messages~1%7BmessageEntryId%7D~1opens%2Fget\
    \ \"getOpens\"\n[43]: #tag/Messages%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1campaigns~1%7BcampaignType%7D%7BmessageId%7D~1messages~1%7BmessageEntryId%7D~1tracked_events%2Fget\
    \ \"getEvents\"\n[44]: #tag/Lists\n[45]: #tag/Authentication-Overview \"oauth2\"\n[46]: #section/Public-or-confidential\n\
    [47]: #tag/Segments \"segments\"\n[48]: #tag/Segments/paths/~1accounts~1{accountId}~1lists~1{listId}~1segments/get\
    \ \"getSegments\"\n[49]: #tag/Segments/paths/~1accounts~1{accountId}~1lists~1{listId}~1segments~1{segmentId}/get\
    \ \"getSegment\"\n[50]: #tag/Broadcasts \"broadcasts\"\n[51]: #tag/Accounts \"accounts\"\n[52]: #tag/Webforms\
    \ \"webforms\"\n[53]: #tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/delete\
    \ \"deleteSubByEmail\"\n[54]: #tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1subscribers/patch\
    \ \"patchSubByEmail\"\n[55]: #tag/Landing-Pages \"landingPages\"\n[56]: #tag/Landing-Pages/paths/~1accounts~1{accountId}~1lists~1{listId}~1landing_pages/get\
    \ \"getLandingPages\"\n[57]: #tag/Landing-Pages/paths/~1accounts~1{accountId}~1lists~1{listId}~1landing_pages~1{landingPageId}/get\
    \ \"getLandingPage\"\n[58]: #tag/Webforms/paths/~1accounts~1{accountId}?ws.op=getWebForms/get \"getWebformsForAccount\"\
    \n[59]: #tag/Webforms/paths/~1accounts~1{accountId}?ws.op=getWebFormSplitTests/get \"getSplitTestsForAccount\"\
    \n[60]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D~1opens%2Fget\
    \ \"getBroadcastOpens\"\n[61]: #tag/Broadcasts%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1broadcasts~1%7BbroadcastId%7D~1clicks%2Fget\
    \ \"getBroadcastClicks\"\n[62]: #tag/Campaigns \"campaigns\"\n[63]: #tag/Subscribers/paths/~1accounts~1{accountId}~1lists~1{listId}~1purchases/post\n\
    [64]: #blocked \"BlockedError\"\n"
- name: FAQ
  description: '### **Do I need to be an AWeber customer to develop an application?**

    ------------

    To develop an API application, you will need to <a href=''https://labs.aweber.com'' target="_blank">

    open an AWeber Labs account</a> which is 100% free and entirely unrelated to AWeber customer accounts.


    If you are not an AWeber customer already, you may also want to

    <a href=''https://www.aweber.com/order.htm'' target="_blank">create an AWeber customer account</a>

    using a free 1 month trial. This account can be used to test the API application

    which you are developing.


    ### **How does AWeber''s API handle user authentication?**

    ------------

    The AWeber API uses OAuth to handle authenticating requests on behalf of AWeber users.  OAuth provides

    a standardized way for providing third party applications access to a user''s data without the need
    for that

    customer to give out their username and password. For more information on how authentication is implemented

    in the AWeber API, please read [our authentication guide][0].


    ### **What character encoding does the API use?**

    ------------

    The AWeber API uses <a href=''http://en.wikipedia.org/wiki/UTF-8'' target="_blank">UTF-8</a> character
    encoding.

    UTF-8 was chosen due to its widespread usage online and is supported by a majority of the programming

    languages in use today.


    - <a href=''http://kunststube.net/encoding/'' target="_blank">What every programmer needs to know
    about character encoding</a>


    When passing data to the AWeber API, it''s up to the app developer to ensure that the data is sent
    to us using

    the proper character encoding.  The API will return a <a href=''https://api.aweber.com#badrequest''
    target="_blank">

    Bad Request</a> with ''Invalid Character Encoding'' if the data sent to the API is not UTF-8 encoded.


    ### **How do I update customer account information / add subscribers?**

    ------------

    You can add a subscriber to a list by invoking the [POST Subscriber][1] endpoint.

    Please refer to our <a class="php" href="https://github.com/aweber/public-api-examples/tree/master/php/manage-subscriber"
    target="_blank">php</a> and <a class="python" href="https://github.com/aweber/public-api-examples/tree/master/python/manage-subscriber"
    target="_blank">python</a> code samples for examples of adding Subscribers.</p>


    Customer account information cannot currently be edited via the API.

    Please refer to our [reference documentation][2] or [changelog][3] for more details.


    ### **What formats of data are returned by the AWeber API?**

    ------------

    All requests in the AWeber API, including error messages, are returned as JSON formatted strings.  JSON
    was chosen

    due to its ease of readability and because it is well supported in a large number of languages.


    ### **How many requests can my application make in a given amount of time?**

    ------------

    AWeber API requests are limited to 120 requests per minute, per customer account.


    [0]: #tag/Getting-Started "gettingStarted"

    [1]: #tag/Subscribers%2Fpaths%2F~1accounts~1%7BaccountId%7D~1lists~1%7BlistId%7D~1subscribers%2Fpost
    "postSubscriber"

    [2]: #tag/Accounts "accounts"

    [3]: #tag/API-Changelog "changelog"

    '
- name: Troubleshooting
  description: "# Authentication Errors\nWhen authenticating an application, there are a few errors which\
    \ a user may encounter. This section will provide you with\ninput into some of the authentication\
    \ errors and how to resolve them.\n\n<h2 id='common-issues'><strong>Common Issues<hr></strong></h2>\n\
    \n### Invalid redirect URI\nIf this error is encountered, it is due to a mismatch between the `redirect_uri`\
    \ being submitted and the `OAuth Redirect URL` specified when creating\nthe application in your <a\
    \ href=\"https://labs.aweber.com\" target=\"_blank\">AWeber Developer</a> account.\n\n<a href=\"/static/redirect-uri.png?v=20200515\"\
    \ target=\"_blank\"><img class=\"redirect-uri\" alt=\"[OAuth2 Redirect]\" src=\"/static/redirect-uri.png?v=20200515\"\
    ></a>\n\n#### Troubleshooting Checklist\n- Ensure the submitted `redirect_uri` ***exactly*** matches\
    \ the `OAuth Redirect URL` specified for your application.\n    - Make sure there are no characters\
    \ added/missing.\n\n<h2 id='public-requires-pkce'><strong>Public Applications<hr></strong></h2>\n\n\
    ### PKCE Errors\nThese errors are raised when you try to authorize a public application, but do not\
    \ include a <code>code_challenge</code> in your original request.\n- Public Client MUST Use PKCE\n\
    - code_challenge is required for public client\n\n#### Troubleshooting Checklist\n- See [here](#section/Public-or-confidential)\
    \ for steps on how to authenticate a public application.\n\n<h2 id='confidential-with-pkce'><strong>Confidential\
    \ Applications</strong><hr></h2>\n\n### PKCE Errors\nThese errors are raised when you try to authorize\
    \ a confidential application and include a <code>code_verifier</code>, <code>challenge</code>,\nor\
    \ <code>challenge_method</code> in your request\n- Confidential Client MUST NOT Use PKCE\n- code_challenge\
    \ and code_challenge_method are disallowed for confidential clients\n\n#### Troubleshooting Checklist\n\
    - See [here](#tag/Authentication-Overview) for steps on how to authenticate a confidential application.\n\
    \n# API Errors\nIf an API call results in an error, the API response will return details about the\
    \ error using JSON. Most errors encountered\nwith the API can be easily handled and corrected in your\
    \ application. To provide a better user experience, you should design\nyour API applications to expect\
    \ errors and handle them appropriately.\nWhen an error is returned:\n- The appropriate HTTP status\
    \ will be set in the response headers.\n- Content-Type will be set to application/json.\n- The body\
    \ will consist of a JSON formatted dictionary with a single key called \"error\" containing the status,\
    \ error type,\nmessage, and documentation URL.\n\nHere is a sample API error response:\n```json\n\
    {\"error\":\n  {\"status\": 401,\n   \"message\": \"Consumer key is invalid.\",\n   \"type\": \"UnauthorizedError\"\
    ,\n   \"documentation_url\": \"https://api.aweber.com\"}}\n```\n\n<h2 id='badrequest'><strong>400\
    \ BadRequestError<hr></strong></h2>\nThis error is raised when you make a properly authenticated request\
    \ to a valid resource with incorrect parameters.\nIf you receive 400 BAD REQUEST errors, refer to\
    \ the actual error message as well as the appropriate documentation for the\nmethod you are calling.\n\
    <br>\n\n#### Examples\n- Attempting to modify a read-only field.\n- Invoking the find() method on\
    \ a subscriber entry without supplying an email address\n- Invoking the move() method on a subscriber\
    \ entry without supplying a list\n- Creating or modifying resources using invalid character encodings.\
    \ (See [FAQ](#tag/FAQ))\n- Creating or modifying a resource while missing required parameters\n  \
    \  - Note: For [Creating Broadcasts](#tag/Broadcasts/paths/~1accounts~1{accountId}~1lists~1{listId}~1broadcasts/post),\
    \ either `body_text` or `body_html` must always be included.\n- Passing through a private or reserved\
    \ IP address when adding a subscriber (\"Invalid Subscriber IP address. The address is part of a reserved\
    \ block.\")\n\n#### Troubleshooting Checklist\n- Refer to the error message for a summary of what\
    \ is wrong.\n- Refer to the API reference documentation for the method you're calling to find out\
    \ what it requires.\n\n\n<h2 id='unauthorized'><strong>401 UnauthorizedError<hr></strong></h2>\nThis\
    \ class of errors represents authentication errors. In order to troubleshoot authentication errors,\
    \ a basic understanding\nof the OAuth 2.0 Authentication Protocol is required. Please refer to the\
    \ following documentation for more information on\nhow we handle authentication with the AWeber API\
    \ as well as specific examples of how to handle each kind of authentication error.\n\n[AWeber API\
    \ Authentication](#tag/Getting-Started) <br>\n<a href=\"https://tools.ietf.org/html/rfc6749\" target=\"\
    _blank\">RFC5849 OAuth 2.0 Specification</a>\n\n### **Invalid Token**\nThis error is raised when your\
    \ access token key is expired or invalid. The most common causes for this error is that the AWeber\
    \ Customer\ndisconnected your application from their account, you're access token has expired, or\
    \ you have a typographical error in the access token key.\n\n#### Troubleshooting Checklist\n- Obtain\
    \ a new access token key.\n\n### **Invalid Account**\nThis error is raised when the AWeber Customer\
    \ account is no longer active. The most common causes for this error are that the\nAWeber Customer\
    \ cancelled their account or you are using an invalid account id.\n\n#### Troubleshooting Checklist\n\
    - Contact support to reactivate the AWeber Customer account.\n\n### **Invalid Request**\nThis error\
    \ is raised when your application attempts to communicate to the AWeber API without using the OAuth\
    \ 2.0 protocol. You must\nfully implement the OAuth 2.0 protocol to access the AWeber API.\n\n####\
    \ Troubleshooting Checklist\n- If you are new to OAuth 2.0, refer to our [API Authentication Guide](#tag/Getting-Started).\n\
    \n\n<h2 id='forbidden'><strong>403 ForbiddenError<hr></strong></h2>\nThis class of errors is used\
    \ when the API understands your request but has refused to grant access to the requested resource.\n\
    \n### **Account Temporarily Suspended**\nThis error is raised when the AWeber Customer account is\
    \ temporarily suspended. The most common causes for this error are that the AWeber\nCustomer has a\
    \ billing issue or you are using an invalid account id.\n\n#### Troubleshooting Checklist\n- Contact\
    \ support to reactivate the AWeber Customer account.\n\n### **Adding subscribers is not available\
    \ while the account is on hold.**\nThis error is raised when the AWeber Customer account is on hold.\
    \ The customer has decided to switch their account to the hold package which\ndoes not allow subscribers\
    \ to be added.\n\n#### Troubleshooting Checklist\n- Switch the AWeber Customer account off of the\
    \ hold package.\n\n### **Application not authorized to manage email.**\nThis error is raised when\
    \ you make a request to create or schedule a Broadcast, but your application has not been authorized\
    \ by the AWeber\nCustomer to manage email.\n\n#### Troubleshooting Checklist\n- Ensure that your application\
    \ has specified that it requires the <a href=\"https://help.aweber.com/hc/en-us/articles/360002999053\"\
    \ target=\"_blank\">\nManage All Email Communications</a> permission.\n- Ensure that the AWeber Customer\
    \ has authorized your application after it was modified to require the\n<a href=\"https://help.aweber.com/hc/en-us/articles/360002999053\"\
    \ target=\"_blank\">Manage All Email Communications</a> permission. The AWeber\nCustomer may need\
    \ to disable and re-enable your application to grant this authorization.\n\n### **Rate Limit Error.**\n\
    This error is raised when the number of API requests made by your application exceed its predefined\
    \ limit. These rate limits are outlined in our\n<a href=\"https://help.aweber.com/hc/en-us/articles/360002917994\"\
    \ target=\"_blank\">knowledge base</a>.\n\n#### Troubleshooting Checklist\n- Reduce the frequency\
    \ that you make API requests.\n- Utilize a local cache in your application to prevent making unnecessary\
    \ API requests.\n- See our <a href=\"https://help.aweber.com/hc/en-us/articles/360002917994\" target=\"\
    _blank\">knowledge base</a> documentation on how to handle rate limits.\n\n### **Subscriber Complaints\
    \ Error.**\nThis error is raised when the number of complaints reported by subscribers is too high.\n\
    Complaints generally occur when subscribers receive email they did not sign up for or do not want.\n\
    Continued complaints reported by subscribers can lead to the suspension of the AWeber account.\n\n\
    #### Troubleshooting Checklist\n- Review and implement these <a href=\"https://help.aweber.com/entries/21748721-How-Do-I-Lower-My-Complaint-Rate-\"\
    \ target=\"_blank\">\nbest practices</a> to lower subscriber complaints.\n- Wait for those complaints\
    \ to lessen.\n\n### **Resource temporarily unavailable**\nThis error is raised when the POST or PUT\
    \ request length exceeds 1 million bytes of data when creating a broadcast message.\n\n#### Troubleshooting\
    \ Checklist\n- Send a smaller POST/PUT payload.\n\n### **The email address provided cannot be accepted\
    \ at this time**\nThis error is raised when the subscriber email address is not currently acceptable.\n\
    \n#### Troubleshooting Checklist\n- Try again using an exponential backoff\n\n### **This account is\
[...]
